:root {
    --selection-color: #e5007e; /* Default color */
    --gray-color: #e5007e; /* Default color */
}

/* Description Container */
.description-container {
    position: fixed;
    top: 50vh; /* Position item 50% from the top */
    left: 50vw; 
    transform: translate(-50%, -50%);
    width: 75vh;
    text-align: center;
    color: #274893;
    z-index: 30; /* Adjust the z-index */
}

.description-headline {
    font-size: 6vh; /* Smaller size for h2 */
    font-weight: 600;
    font-family: "Bitter", serif;
}

.description-text {
    width: 75vh;
    transform: translateX(50%);
    margin-top: -4vh;
    font-size: 3.2vh;
    line-height: 1.3;
    font-weight: 500;
    overflow-y: hidden; /* Hide overflow initially */
}

/* 
.description-text div {
    margin-top: 1.2vh;
} */

.description-start-prompt {
    margin-top: 2.2vh;
    font-weight: 600;
    font-size: 2.4vh;
    color: var(--selection-color);
    text-transform: uppercase;
}

.description-start-button {
    margin-top: 5vh; /* Space between buttons */
    width: 15vh;
    height: 5vh;
    border: var(--button-border) solid #274893;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none; /* Ensure links have no underline */
    font-family: 'Manrope', sans-serif;
    font-size: 2.1vh;
    font-weight: 600;
    color: #274893;
    background-color: white;
}

.description-start-button:hover,
.description-start-button:active {
    background-color: rgba(39, 72, 147, 0.1);
}