:root {
   --menu-message-text-font: 2.1vh;
}
/* Left Menu Container */
.left-menu {
    position: fixed;
    top: 10vh;
    left: var(--left-space-2);
    display: flex;
    flex-direction: column;
    align-items: center;   /* Center items horizontally */
    justify-content: center;
    z-index: 30; /* Adjust the z-index */
}

/* Modes Button */
.menu-button {
    margin-bottom: 1vh; /* Space between buttons */
    width: 19.5vh;
    height: var(--button-height);
    border: var(--button-border) solid black;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none; /* Ensure links have no underline */
    font-family: 'Manrope', sans-serif;
    font-size: 2.1vh;
    font-weight: 600;
    color: #5d5d5d;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 30; /* Adjust the z-index */
}

.menu-button:hover,
.menu-button:active {
    background-color: rgba(0, 0, 0, 0.1);;
}

.menu-button.active {
    background-color: black; /* Active state background color */
    color: white; /* Active state text color */
}

.menu-button.semi-active {
    border: calc(var(--button-border) + 0.15vh) solid black; /* Border remains black to match the background */
}

/* Solo Mode Button */
.menu-button.solo {
    position: fixed;
    top: var(--top-space);
    left: var(--left-space-2);
    transform: translateY(-50%);
}

.circle-button {
    position: fixed;
    width: calc(var(--button-height) + 1.5*var(--button-border)); /* Set an explicit width */
    height: calc(var(--button-height) + 1.5*var(--button-border)); /* Set an explicit height */
    transform: translateY(-50%);
    background-color: transparent;
    border: var(--button-border) solid black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    z-index: 30; /* Adjust the z-index */
}

/* Home Button */
.circle-button.home {
    top: var(--top-space);
    left: var(--left-space);   
}

/* Go back button Button */
.circle-button.go-back {
    bottom: var(--top-space);
    left: var(--left-space); 
    transform: translateY(50%);
}

.circle-button.active {
    background-color: black; /* Active state background color */
    color: white; /* Active state text color */
    border: var(--button-border) solid black; /* Border remains black to match the background */
}


.circle-button.active .home-icon { 
    stroke: #f5f5f5; /* White stroke for active or hover states */
}

.circle-button.active:hover,
.circle-button.active:active { 
    background-color: rgba(0, 0, 0, 0.1); /* White stroke for active or hover states */
}


.circle-button:hover, 
.circle-button:active {
    background-color: rgba(0, 0, 0, 0.1); /* White stroke for active or hover states */
}

.circle-button.active:hover .home-icon , 
.circle-button.active:active .home-icon  {
    stroke: black; /* White stroke for active or hover states */
}

.home-icon {
    width: 2.3vh;
    height: 2.3vh;
    fill: none; /* Set default color for the bookmark */
    stroke: black;
    stroke-width: var(--button-border);
}

.go-back-icon {
    width: 2.3vh;
    height: 2.3vh;
    fill: black; /* Set default color for the bookmark */
    stroke: black;
    stroke-width: var(--button-border);
}

/* Text Above Modes Buttons ("I Want To") */
.i-want-to-text {
    position: fixed;
    left: var(--left-space-2);
    top: var(--top-space);
    font-size: 2.8vh;
    transform: translateY(-50%);
    font-family: "Bitter", serif;
    font-style: italic;
}

/* Disabled Mode Button */
.menu-button.disabled {
    color: #adadad; /* Light gray text color */
    border: var(--button-border) solid #b3b3b2; /* Light gray border */
}

.menu-button.disabled:hover,
.menu-button.disabled:active {
    background-color: #f5f5f5; /* No change on hover for disabled button */
}

/* "Show More" Button */
.menu-button.show-more {
    border: var(--button-border) solid  #a2a1a1;
    background-color: transparent;
    color: #a2a1a1;
    width: 21.4vh;    /* Ensure it's the same width as other buttons */
    height: var(--button-height);
}

/* Study Instruction */
.menu-study-instructions {
    position: fixed;
    bottom: var(--top-space);
    left: var(--left-space-2); 
    transform: translateY(50%);
    padding-left: 2vh;
    padding-right: 2vh;
    height: calc(var(--button-height) + 1.5*var(--button-border));
    border: var(--button-border) solid #d60b51;
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none; /* Ensure links have no underline */
    font-family: 'Manrope', sans-serif;
    font-size: 2.1vh;
    font-weight: 700;
    color: #d60b51;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    z-index: 20; /* Ensure this doesn't interfere with other content */
}

.menu-study-instructions:hover,
.menu-study-instructions:active {
    background-color: rgba(214, 11, 81, 0.1);
}

/* Message Box */
.menu-message-box {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 4vh 6vh;
    margin: 0;
    width: 49vh;
    background-color: white;
    border-radius: 20px;
    border: var(--button-border) solid #d60b51; /* Add a light grey border */
    text-align: center;
    z-index: 100;
    color: #d60b51;
}

.menu-message-text {
   font-size: var(--menu-message-text-font);
   font-weight: 300;
   margin: 0;
   color: #c22934;
}

.menu-message-text.bold {
   font-size: 2.1vh;
   font-weight:600; /* Adjust as needed */
}

.menu-message-text.blue {
    font-size: 2.1vh;
    color: #1ca7e4;
    font-weight: 600; /* Adjust as needed */
}

.menu-got-it-button {
    margin-top: 0.2vh;
    font-size: 2.1vh;
    font-weight: 200;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: var(--gray-color);
    border: none;
    cursor: pointer;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}  

.menu-got-it-button:hover,
.menu-got-it-button:active {
    color: rgba(151, 151, 150, 0.5);
}

.menu-message-question {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d60b51;
    border: var(--button-border) solid #d60b51;
    border-radius: 100px;
    padding: 1.5vh;
    color: white;
    font-size: 1.8vh;
    font-weight: 500;
    height: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Opacity Gradient Background */
.menu-background {
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 80vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 23%, rgba(255, 255, 255, 1) 75%);
    z-index: 15;
}

/* Arrow Buttons  */
.menu-arrow-container {
    position: fixed;
    top: var(--top-space);
    left: var(--left-space-2);
    border: var(--button-border) solid transparent;
    border-radius: 100px;
    transform: translateY(-50%);
    width: 19.8vh;
    height: calc(var(--button-height) - var(--button-border));
    display: flex;
    flex-direction: column;
    align-items: center;   /* Center items horizontally */
}

.menu-arrow-button {
    background-color: transparent;
    border: 0 solid transparent; /* Set initial border to transparent */
    cursor: pointer;
    position: fixed;
    top: 50%;
    display: flex; /* Ensures button content (icon) is properly aligned */
    align-items: center;
    justify-content: center;
    outline: none;
}

.menu-arrow-button.disabled {
    pointer-events: none;
    opacity: 30%;
}

/* Left arrow button */
.menu-arrow-button.left {
    transform: translateY(-50%) scale(-1); /* Rotate the arrow for left button */
    left: -20%;
}

/* Right arrow button (default position) */
.menu-arrow-button.right {
    transform: translateY(-50%); /* Rotate the arrow for left button */
    right: -20%;
}

/* Change icon color on hover */
.menu-arrow-button:hover .menu-arrow-icon,
.menu-arrow-button:active .menu-arrow-icon {
    fill: rgba(151, 151, 150, 0.5); /* Change fill color on hover */
}

.menu-arrow-icon {
    width: 2vh;
    height: 2vh;
    fill: var(--gray-color); /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--gray-color);
    stroke-width: 0;
}

.guideline-1 {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--left-space);
    height: 100vh;
    opacity: 0.3;
    background-color: #4d4d4d;
}

.guideline-2 {
    position: fixed;
    right: 0;
    top: 0;
    width: var(--left-space);
    height: 100vh;
    opacity: 0.3;
    background-color: #4d4d4d;
}

.guideline-3 {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: var(--top-space);
    opacity: 0.3;
    background-color: #4d4d4d;
}

.guideline-4 {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: var(--top-space);
    opacity: 0.3;
    background-color: #4d4d4d;
}

.guideline-5 {
    position: fixed;
    right: 0;
    top: calc(var(--top-space) + var(--button-height)/2 + var(--button-border));
    width: 100vw;
    height: 3.45vh;
    opacity: 0.3;
    background-color: #a64b4b;
}

.guideline-6 {
    position: fixed;
    right: 0;
    bottom: calc(var(--top-space) + var(--button-height)/2 + var(--button-border));
    width: 100vw;
    height: 3.45vh;
    opacity: 0.3;
    background-color: #a64b4b;
}

.guideline-7 {
    position: fixed;
    transform: translateY(-50%);
    right: 0;
    top: 50vh;
    width: 100vw;
    height: 0.1vh;
    background-color: #a64b4b;
}

.guideline-8 {
    position: fixed;
    transform: translateX(-50%);
    left: 20vw;
    top: 0;
    width: 0.1vh;
    height: 100vh;
    background-color: #4d4d4d;
}

.guideline-9 {
    position: fixed;
    transform: translateX(-50%);
    left: 40vw;
    top: 0;
    width: 0.1vh;
    height: 100vh;
    background-color: #a64b4b;
}

.guideline-10 {
    position: fixed;
    transform: translateX(-50%);
    left: 60vw;
    top: 0;
    width: 0.1vh;
    height: 100vh;
    background-color: #4d4d4d;
}

.guideline-11 {
    position: fixed;
    transform: translateX(-50%);
    left: 80vw;
    top: 0;
    width: 0.1vh;
    height: 100vh;
    background-color: #4d4d4d;
}


