:root {
    --gray-color: #e5007e; /* Default color */
    --gray-hover-color: #e5007e; /* Default color */
}

/* Left Menu Container */
.left-menu {
    position: fixed;
    top: 12vh;
    left: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 30; /* Adjust the z-index */
}

/* Modes Button */
.menu-button {
    margin-bottom: 1vh; /* Space between buttons */
    width: 19.5vh;
    height: 3.9vh;
    border: 0.3vh solid black;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none; /* Ensure links have no underline */
    font-family: 'Manrope', sans-serif;
    font-size: 2.2vh;
    font-weight: 600;
    color: #5d5d5d;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 30; /* Adjust the z-index */
}

.menu-button:hover,
.menu-button:active {
    background-color: #f0f0f0;
}

.menu-button.active {
    background-color: black; /* Active state background color */
    color: white; /* Active state text color */
    border: 0.35vh solid black; /* Border remains black to match the background */
}

.menu-button.semi-active {
    border: 0.45vh solid black; /* Border remains black to match the background */
}

/* Solo Mode Button */
.menu-button.solo {
    position: fixed;
    top: 9vh;
    left: 13vw;
    transform: translateY(-50%);
}

.circle-button {
    position: fixed;
    width: 4.3vh; /* Set an explicit width */
    height: 4.3vh; /* Set an explicit height */
    transform: translateY(-50%);
    background-color: transparent;
    border: 0.3vh solid black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    z-index: 30; /* Adjust the z-index */
}

/* Home Button */
.circle-button.home {
    top: 9vh;
    left: 9vw;   
}

/* Go back button Button */
.circle-button.go-back {
    bottom: 9vh;
    left: 9vw; 
    transform: translateY(50%);
}

@media (max-aspect-ratio: 16/9) {
    /* Your styles for smaller screens go here */
    .circle-button.go-back {
        left: 13vw;
    }
}

.circle-button.active {
    background-color: black; /* Active state background color */
    color: white; /* Active state text color */
    border: 0.3vh solid black; /* Border remains black to match the background */
}


.circle-button.active .home-icon { 
    stroke: #f5f5f5; /* White stroke for active or hover states */
}

.circle-button.active:hover,
.circle-button.active:active { 
    background-color: #f5f5f5; /* White stroke for active or hover states */
}


.circle-button:hover, 
.circle-button:active {
    background-color: #f5f5f5; /* White stroke for active or hover states */
}

.circle-button:hover .home-icon , 
.circle-button:active .home-icon  {
    background-color: white; /* White stroke for active or hover states */
}

.circle-button.active:hover .home-icon , 
.circle-button.active:active .home-icon  {
    stroke: black; /* White stroke for active or hover states */
}

.home-icon {
    width: 2.3vh;
    height: 2.3vh;
    fill: none; /* Set default color for the bookmark */
    stroke: black;
    stroke-width: 0.3vh;
    margin-bottom: 0.35vh;
    margin-left: -0.05vh;
}

.go-back-icon {
    width: 2.3vh;
    height: 2.3vh;
    fill: black; /* Set default color for the bookmark */
    stroke: black;
    stroke-width: 2vh;
}

/* Text Above Modes Buttons ("I Want To") */
.i-want-to-text {
    position: fixed;
    left: 13vw;
    top: 9vh;
    font-size: 2.8vh;
    transform: translateY(-50%);

}

/* Disabled Mode Button */
.menu-button.disabled {
    color: #adadad; /* Light gray text color */
    border: 0.3vh solid #b3b3b2; /* Light gray border */
}

.menu-button.disabled:hover,
.menu-button.disabled:active {
    background-color: #f5f5f5; /* No change on hover for disabled button */
}

/* "Show More" Button */
.menu-button.show-more {
    border: 0.3vh solid  #a2a1a1;
    background-color: transparent;
    color: #a2a1a1;
    width: 21.4vh;    /* Ensure it's the same width as other buttons */
    height: 4.3vh;
}

.menu-study-instructions {
    position: fixed;
    bottom: 9vh;
    left: 13vw; 
    transform: translateY(50%);
    width: 27vh;
    height: 4.3vh;
    border: 0.3vh solid #c22934;
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none; /* Ensure links have no underline */
    font-family: 'Manrope', sans-serif;
    font-size: 2vh;
    font-weight: 700;
    color: #c22934;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    z-index: 20; /* Ensure this doesn't interfere with other content */
}

.menu-study-instructions:hover,
.menu-study-instructions:active {
    background-color: #f0f0f0;
}

/* Message Box */
.menu-message-box {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 7vh;
    margin: 0;
    width: 30vh;
    background-color: white;
    border-radius: 2vh;
    border: 0.1vh solid #c22934; /* Add a light grey border */
    text-align: center;
    z-index: 100;
    color: #c22934;
}

.menu-message-text {
   font-size: 2.1vh;
   margin: 0;
   color: #c22934;
}

.menu-got-it-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 2vh;
    font-size: 2.2vh;
    font-weight: 100;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: var(--gray-color);
    border: none;
    cursor: pointer;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}

.menu-got-it-button:hover,
.menu-got-it-button:active {
    color: var(--gray-hover-color);
}

.menu-message-question {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c22934;
    border: 0.1vh solid #c22934;
    border-radius: 100px;
    padding: 1.5vh;
    color: white;
    font-size: 1.8vh;
    font-weight: 500;
    height: 1vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Opacity Gradient Background */
.menu-background {
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 80vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 23%, rgba(255, 255, 255, 1) 75%);
    z-index: 15;
}



