/* Left Menu Container */
.left-menu {
    position: fixed;
    top: 25vh;
    left: 11vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 30; /* Adjust the z-index */
}

/* Modes Button */
.menu-button {
    margin-bottom: 6px; /* Space between buttons */
    width: 9.5vw;
    height: 26px;
    border: 2px solid black;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none; /* Ensure links have no underline */
    font-family: 'Manrope', sans-serif;
    font-size: 14.5px;
    font-weight: 600;
    color: #747474;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.menu-button:hover,
.menu-button:active {
    background-color: #f0f0f0;
}

.menu-button.active {
    background-color: black; /* Active state background color */
    color: white; /* Active state text color */
    border: 2px solid black; /* Border remains black to match the background */
}

/* Solo Mode Button */
.menu-button.solo {
    position: fixed;
    top: 9vh;
    margin: 0px;
    left: 16.5vw;
    transform: translate(-50%, -50%);
}

/* Home Button */
.home-button {
    position: fixed;
    top: 9vh;
    left: 9vw;
    width: 29px; /* Set an explicit width */
    height: 29px; /* Set an explicit height */
    transform: translateY(-50%);
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

.home-button.active {
    background-color: black; /* Active state background color */
    color: white; /* Active state text color */
    border: 2px solid black; /* Border remains black to match the background */
}

.menu-button.active .home-icon, 
.menu-button.hover .home-icon, 
.home-button.active .home-icon, 
.home-button.hover .home-icon {
    stroke: #f5f5f5; /* White stroke for active or hover states */
}

.home-icon {
    width: 15px;
    height: 15px;
    fill: none; /* Set default color for the bookmark */
    stroke: black;
    stroke-width: 2.5px;
    margin-bottom: 1px;
}

/* Text Above Modes Buttons ("I Want To") */
.i-want-to-text {
    position: fixed;
    left: 9.7vw;
    top: 15vh;
    font-size: 19px;
}

/* Disabled Mode Button */
.menu-button.disabled {
    color: #adadad; /* Light gray text color */
    border: 2px solid #b3b3b2; /* Light gray border */
}

.menu-button.disabled:hover,
.menu-button.disabled:active {
    background-color: #f5f5f5; /* No change on hover for disabled button */
}

/* "Show More" Button */
.menu-button.show-more {
    border: 2px solid  #a2a1a1;
    background-color: transparent;
    color: #a2a1a1;
    width: 9.7vw;    /* Ensure it's the same width as other buttons */
    height: 29px;
}



