/* Blurred Background Overlay */
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(4px); /* Adjust the blur intensity */
    z-index: 50; /* Ensure it stays on top */
}

/* Message Box */
.message-box {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 7vh;
    margin: 0;
    background-color: white;
    border-radius: 2vh;
    border: 0.1vh solid #bcbcbc; /* Add a light grey border */
    text-align: center;
    z-index: 100;
}

.message-text {
   font-size: 2.1vh;
   margin: 0;
   color: #333;
}

.got-it-button {
    position: fixed;
    transform: translate(-50%);
    padding-top: 2vh;
    font-size: 2.1vh;
    font-weight: 100;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: #cdcdcc;
    border: none;
    cursor: pointer;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}

.message-question {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 0.2vh solid #bcbcbc;
    border-radius: 50%;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* Question Button */
.question-button {
    position: fixed;
    bottom: 9vh;
    left: 9vw;
    width: 4.3vh; /* Set an explicit width */
    height: 4.3vh; /* Set an explicit height */
    transform: translateY(50%);
    background-color: transparent;
    border: 0.3vh solid #bcbcbc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    z-index: 20;
    outline: none;
}

.question-button:hover .question-icon,
.question-button:active .question-icon {
    fill: #dcdcdc; /* Lighter gray fill color */
}

.question-button:hover, 
.question-button:active {
    border: 0.3vh solid #dcdcdc; /* Lighter gray border on interaction */
}

/* Icons */
.question-icon {
    width: 2.3vh;
    height: 2.3vh;
    fill: #bcbcbc; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: #bcbcbc;
    stroke-width: 0; 
    padding-bottom: 0.1vh;
}

.question-icon.message {
    width: 3vh;
    height: 3vh;
}

.message-icon {
    width: 1em;
    height: 1em;
    fill: rgb(115, 114, 114); /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: rgb(145, 144, 144);
    stroke-width: 0;
    margin-left: 0.8vh;
    margin-right: 0.8vh;
    margin-bottom: -0.35vh;
}

.message-icon.wave {
    width: 1.5em;
    height: 1.5em;
    margin-bottom: -1vh;
}





