:root {
    --background-color: #ffffff; /* Default color */
    --title-color: #000000;
    --top-position: 0vh;
    --left-position: 0vw;
}

/* Project Name Textarea */
.a-textarea {
    position: fixed;
    top: 7vh;
    left: 23vw;
    width: 200px;
    padding-left: 10px;
    background-color: #f5f5f7;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #000000; /* Set placeholder color to white */
    resize: none;
    margin-bottom: 0px;
    height: 23px;
    border: 2px solid #000000;
    border-radius: 100px;
    background-color: white;
    padding-top: 3px;
}

/* ABCD Tasks Menu */
.a-tasks-nav {
    display: flex;
    gap: 22px; /* Space between buttons */
    align-items: center;
    justify-items: center;
    background-color: transparent;
}

.a-tasks-nav.fixed {
    position: fixed;
    bottom: 9vh;
    left: 9vw; /* Positioning at the bottom of the page */
    transform: translateY(50%);
}
  
.a-task-button {
    width: 14px; /* Default size */
    height: 14px;
    border-radius: 50%;
    background-color: #0a4461;
    color: white;
    border: none;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
  
.a-task-button.active {
    width: 29px; /* Increase size for the active button */
    height: 29px;
    font-size: 16px; /* Make the text bigger in the active button */
}
  
.a-task-button:hover {
    background-color: #0e587c; /* Slight hover effect */
    cursor: pointer;
}

/* Generate PDF Button and Loading Bar */
.a-generate-pdf-button {
    height: 18px;
    border: 2px solid #0a4461;
    border-radius: 100px;
    background-color: white;
    font-size: 14px;
    width: 190px;
    color: #0a4461;
    display: flex; /* Add Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.a-generate-pdf-button:hover {
    cursor: pointer;
    border: 2px solid #136d9a;
    color: #136d9a;
}

.a-generate-pdf-button.no-hover:hover {
    border: 2px solid #0a4461;
    cursor:default; /* Optional: Show disabled cursor */
}

.a-download-progress {
    height: 18px;
    border: 2px solid transparent;
    border-radius: 100px;
    background-color: white;
    font-size: 14px;
    width: 200px;
    color: #0a4461;
    display: flex; /* Add Flexbox */
    align-items: center; /* Center vertically */
}

/* Definitions (PDF) */
.a-definitions-container {
    top: 15vh;
    left: 9vw;
}

.a-definitions-container.fixed {
    position: fixed;
}

.a-definitions-top-lines {
    position: absolute;
    top: 9px;
    left: 0;
    display: flex;
}

.a-definitions-horizontal-line {
    width: 261px;
    height: 1px;
    background-color: var(--background-color);
}

.a-definitions-vertical-line {
    width: 1px;
    height: 320px; /* Total height of both lines */
    background: linear-gradient(
        to bottom, 
        var(--background-color) 60px, /* Existing line color and height */
        white 60px 100% /* White line starts after 60px and takes the rest */
    );
}

.a-definition {
    margin-bottom: 5px;
}

.a-definition-title {
    width: 255px;
    font-size: 10px;
    color: var(--title-color);
    background: linear-gradient(
        to right, 
        var(--background-color) 20%, /* Main color covers 70% of the area */
        transparent 70%                  /* Fades into white by 100% */
    );
    padding: 2px;
    padding-left: 5px;
    letter-spacing: 0.6px;  
    font-weight: 500;
}

.a-definition-text {
    width: 185px;
    font-size: 10px;
    font-weight: 300;
    margin-top: -10px;
}

/* OL Compass (PDF) */
.a-ol-compass {
    position: fixed;   
    top: var(--top-position);           
    left: var(--left-position);           
}

/* Placeholder on Textareas in Compass */
.a-compass-textarea::placeholder {
    color: rgb(114, 113, 111, 0.5); /* Semi-transparent color */
}


