:root {
    --background-color: #ffffff; /* Default color */
    --title-color: #000000;
}

.a-textarea {
    position: fixed;
    top: 7vh;
    left: 23vw;
    width: 200px;
    padding-left: 10px;
    background-color: #f5f5f7;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #000000; /* Set placeholder color to white */
    resize: none;
    margin-bottom: 0px;
    height: 23px;
    border: 2px solid #000000;
    border-radius: 100px;
    background-color: white;
    padding-top: 3px;
}

.a-tasks-nav {
    bottom: 9vh;
    left: 9vw; /* Positioning at the bottom of the page */
    display: flex;
    gap: 20px; /* Space between buttons */
    align-items: center;
    justify-items: center;
}

.a-tasks-nav.fixed {
    position: fixed;
}

.a-tasks-buttons {
    display: flex;
    gap: 20px; /* Space between buttons */
    align-items: center;
    justify-items: center;
    background-color: transparent;
}
 
  
.a-task-button {
    width: 17px; /* Default size */
    height: 17px;
    border-radius: 50%;
    background-color: #0a4461;
    color: white;
    border: none;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
  
.a-task-button.active {
    width: 40px; /* Increase size for the active button */
    height: 40px;
    font-size: 18px; /* Make the text bigger in the active button */
}
  
.a-task-button:hover {
    background-color: #0e587c; /* Slight hover effect */
    cursor: pointer;
}

.a-generate-pdf-button {
    height: 25px;
    border: 2px solid #0a4461;
    border-radius: 100px;
    background-color: white;
    font-size: 16px;
    color: #0a4461;
}

.a-generate-pdf-button:hover {
    cursor: pointer;
    background-color: #0a4461;
    color: white;
}

.a-subtask-nav {
    position: fixed;
    bottom: 3vh;
    left: 9vw; /* Positioning at the bottom of the page */
    display: flex;
    gap: 10px;
}
  
.a-subtask-button {
    width: 35px; /* Default size */
    height: 35px;
    border: 2px solid #7d909b;
    border-radius: 50%;
    background-color: white;
    color: #7d909b;
    font-size: 15px;
    align-items: center;
    justify-items: center;
    outline: none;
}
  
.a-subtask-button.active {
    background-color: #7d909b;
    color: white;
}
  
.a-subtask-button:hover {
    background-color: #7d909b; /* Slight hover effect */
    color: white;
    cursor: pointer;
}
  
.a-ol-compass {
    position: fixed;   
    top: 50vh;           
    left: 50vw;           
    transform: translate(-50%, -50%);
}

.a-definitions-container {
    position: fixed;
    top: 15vh;
    left: 9vw;
    width: 250px;
}

.a-definition {
    margin-bottom: 5px;
}

.a-definition-title {
    font-size: 13px;
    color: var(--title-color);
    background: linear-gradient(
        to right, 
        var(--background-color) 20%, /* Main color covers 70% of the area */
        white 80%                  /* Fades into white by 100% */
    );
    padding: 3px;
    padding-left: 5px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 500;
}

.a-definition-text {
    font-size: 13px;
    font-weight: 300;
    margin-top: -10px;
}

