:root {
    --selection-color: #e5007e; /* Default color */
    --selection-hover-color: #841321; /* Default color */
    --bookmark-cs-color: #e5007e; /* Default color */
    --bookmark-cs-hover-color: #841321; /* Default color */
    --gray-color: #841321; /* Default color */
    --gray-hover-color: #841321; /* Default color */
}

/* Text Container */
.gi-text-container {
    position: fixed;
    top: 16vh;
    left: 75vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center;   /* Center items horizontally */
}

@media (max-aspect-ratio: 16/9) {
    /* Your styles for smaller screens go here */
    .gi-text-container {
        top: 10vh;
        left: 77vw;
    }
}

/* Card Container */
.gi-card-container {
    width: 45vh;
    height: 60vh;
    padding: 2.7vh;
    border-radius: 1.2vh;
    background: linear-gradient(to bottom right, #9797b1 25%, #d4d4df 80%);
    overflow: hidden;
    color: white;
    position: relative;
}

.gi-card-container.empty {
    background: #eeeef2;
}

.gi-title {
    font-size: 3vh;
    font-weight: 500;
    margin-top: 0;
    max-width: 42vh;
}

.gi-description {
    font-size: 2.1vh;
    font-weight: 400;
    margin-top: 1.4vh;
  }
  
.gi-credits {
    font-size: 1.8vh;
    font-weight: 200;
    position: fixed;  /* Absolute positioning within the container */
    bottom: 14.1vh;        
}

.gi-boxes-container {
    position: fixed;
    bottom: 3.6vh;  
}

/* Boxes Section */
.gi-box-row {
    display: flex;
    gap: 1vh; /* Optional: adds spacing between the text boxes */
    margin-bottom: -2.2vh; /* Space between rows, reduce this value */
    text-align: center; /* Optional: center the text itself */
}

.gi-text-box {
    background-color: #8888a5;
    height: 3.5vh;
    line-height: 3.5vh; /* Make line height equal to the height of the box */
    opacity: 70%;
    border-radius: 0.5vh;
    font-size: 1.6vh;
}

.gi-text-box.type { width: 21vh; }
.gi-text-box.age { width: 9vh; }
.gi-text-box.time { width: 13vh; }
.gi-text-box.languages { width: 13vh; }
.gi-text-box.mainTarget { width: 21vh; }
.gi-text-box.year { width: 9vh; }

.gi-text-box.collection {
    background-color: #ffffff;
    width: 45vh;
    color: #53537e;
}

/* Bookmark Button */
.gi-bookmark-button {
    background-color: transparent;
    border: 0.3vh solid white;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.3vh; /* Set an explicit width */
    height: 4.3vh; /* Set an explicit height */
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
 
.gi-bookmark-button:hover,
.gi-bookmark-button:active {
    border-color: #fff; /* Change border color on hover */
    background-color:  rgba(255, 255, 255, 0.2);
}

.gi-bookmark-button.active {
    background-color: var(--bookmark-cs-color); /* Active state background color */
    color: white; /* Active state text color */
}

.gi-bookmark-button.active:hover,
.gi-bookmark-button.active:active {
    background-color: var(--bookmark-cs-hover-color); /* Active state background color */
}
 
.gi-bookmark-icon {
    width: 2.2vh;
    height: 2.2vh;
    fill: none; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: white;
    stroke-width: 0.2vh;
}

/* Arrow Buttons  */
.gi-arrow-button {
    background-color: transparent;
    border: 0 solid transparent; /* Set initial border to transparent */
    cursor: pointer;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.gi-arrow-button.disabled {
    pointer-events: none;
    opacity: 60%;
}

/* Left arrow button */
.gi-arrow-button.left {
    transform: translateY(-50%) scale(-1); /* Rotate the arrow for left button */
    left: -10%; 
}

/* Right arrow button (default position) */
.gi-arrow-button.right {
    transform: translateY(-50%) scale(1); /* Rotate the arrow for left button */
    right: -10%;
}

/* Change icon color on hover */
.gi-arrow-button:hover .gi-arrow-icon,
.gi-arrow-button:active .gi-arrow-icon {
    fill: var(--gray-hover-color); /* Change fill color on hover */
}

.gi-arrow-icon {
    width: 2.5vh;
    height: 2.5vh;
    fill: var(--gray-color); /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--gray-color);
    stroke-width: 0;
}

/* Search and Results Container */
.gi-search-results-container {
    position: fixed;
    bottom: 9vh;
    display: flex;
    align-items: center; /* Center them vertically */
}

/* Results */
.gi-results {
    position: fixed;
    left: 75vw;
    transform: translateX(-50%);
    font-size: 2.4vh;
    font-weight: 200;
    color: var(--selection-color);
}

.gi-results.bookmarked {
    color: var(--bookmark-cs-color);
}

@media (max-aspect-ratio: 16/9) {
    /* Your styles for smaller screens go here */
    .gi-results {
        left: 77vw;
    }
}

/* Search Logic Menu */
.gi-search-logic-menu {
    position: fixed;
    left: 35vw;
    transform: translateX(-50%);
    width: 30vh;
    height: 4.4vh;
    display: flex;
    align-items: center;
    border: 0.3vh solid #dedede;
    border-radius: 50px;
    padding: 0;
    overflow: hidden;
    justify-content: space-between; /* Ensure equal spacing */
}

.gi-logic-button-background {
    background-color: white;
    border: none;
    padding: 0.2vh;
    padding-left: 0.4vh;
    padding-right: 0.3vh;
    border-radius: 50px; /* Rounded on the right side */
    z-index: 15; /* Ensuring it's above the search button background */
    display: flex;
    align-items: center;
}

.gi-logic-buttons {
    display: flex;
    align-items: center;
    background-color: #b1b1b1;
    border-radius: 50px;
    padding: 0.4vh 0.35vh;
    margin-left: -0.2vh;
    gap: 0.6vh;
    z-index: 20; /* Ensure it’s on top */
    width: 18vh;
}

.gi-logic-button {
    border: none;
    background-color: #bcbcbc;
    padding: 0.4vh 0.8vh;
    border-radius: 50px;
    cursor: pointer;
    color: #7a7a79;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 1.7vh;
    outline: none;
    width: auto;
}

.gi-logic-button:hover,
.gi-logic-button:active {
    background-color: #d1d4d5; /* Darkened version of the original background color */
}

.gi-logic-button.active {
    background-color: white;
}

.gi-search-button {
    position: relative;
    left: -9%;
    color: white;
    border: none;
    padding: 1vh 2.7vh 0.9vh 0; /* Adjusted left padding */;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 1.5vh;
    background-color: var(--selection-color);
    border-radius: 0 50px 50px 0; /* Rounded on the right side */
    z-index: 10;
    text-indent: 4.7vh; /* Move text 10px to the right */
    outline: none;
}

.gi-search-button:hover,
.gi-search-button:active {
    background-color: var(--selection-hover-color); /* Darkened version of the original background color */
}

.gi-show-bookmarks-button {
    position: fixed;
    left: 43vw;
    background-color: transparent;
    border: 0.3vh solid var(--gray-color);
    border-radius: 50%;
    cursor: pointer;
    width: 4.3vh; /* Set an explicit width */
    height: 4.3vh; /* Set an explicit height */
    padding: 0;
    box-sizing: border-box;
    right: 5%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gi-bookmark-icon.show {
    width: 2.2vh;
    height: 2.2vh;
    fill: none; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--gray-color);
    stroke-width: 0.2vh;
}

.gi-show-bookmarks-button:hover,
.gi-show-bookmarks-button:active {
    border: 0.3vh solid var(--gray-hover-color);
}

.gi-show-bookmarks-button.active {
    background-color: var(--bookmark-cs-color); /* Active state background color */
}

.gi-show-bookmarks-button.active:hover,
.gi-show-bookmarks-button.active:active {
    background-color: var(--bookmark-cs-color); /* Active state background color */
}

.gi-bookmark-icon.show:hover,
.gi-bookmark-icon.show:active {
    stroke: var(--gray-hover-color);
}

/* Bold text */

.gi-bold-text {
    font-weight: 500;
}




  