:root {
    --selection-color: #e5007e; /* Default color */
    --selection-hover-color: #841321; /* Default color */
}

/* Text Container */
.gi-text-container {
    position: fixed;
    top: 16vh;
    left: 75vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center;   /* Center items horizontally */
}

/* Card Container */
.gi-card-container {
    width: 45vh;
    height: 60vh;
    padding: 2.7vh;
    border-radius: 6px;
    background: linear-gradient(to bottom right, #9797b1 25%, #d4d4df 80%);
    overflow: hidden;
    color: white;
    position: relative;
}

.gi-card-container.empty {
    background: #eeeef2;
}

.gi-title {
    font-size: 3vh;
    font-weight: 500;
    margin-top: 0vh;
    max-width: 42vh;
}

.gi-description {
    font-size: 2.1vh;
    font-weight: 400;
    margin-top: 1.4vh;
  }
  
.gi-credits {
    font-size: 1.8vh;
    font-weight: 200;
    position: fixed;  /* Absolute positioning within the container */
    bottom: 14.8vh;        
}

.gi-boxes-container {
    position: fixed;
    bottom: 3.6vh;  
}

/* Boxes Section */
.gi-box-row {
    display: flex;
    gap: 1vh; /* Optional: adds spacing between the text boxes */
    margin-bottom: -2.6vh; /* Space between rows, reduce this value */
    text-align: center; /* Optional: center the text itself */
}

.gi-text-box {
    background-color: #8888a5;
    height: 3.5vh;
    line-height: 3.5vh; /* Make line height equal to the height of the box */
    opacity: 70%;
    border-radius: 3px;
    font-size: 0.8em;
}

.gi-text-box.type { width: 21vh; }
.gi-text-box.age { width: 9vh; }
.gi-text-box.time { width: 13vh; }
.gi-text-box.languages { width: 13vh; }
.gi-text-box.mainTarget { width: 21vh; }
.gi-text-box.year { width: 9vh; }

.gi-text-box.collection {
    background-color: #ffffff;
    width: 45vh;
    color: #53537e;
}

/* Bookmark Button */
.gi-bookmark-button {
    background-color: transparent;
    border:2px solid white;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px; /* Set an explicit width */
    height: 29px; /* Set an explicit height */
    padding: 0;
    box-sizing: border-box;
}
 
.gi-bookmark-button:hover,
.gi-bookmark-button:active {
    border-color: #fff; /* Change border color on hover */
    background-color:  rgba(255, 255, 255, 0.2);
}

.gi-bookmark-button.active {
    background-color: var(--selection-color); /* Active state background color */
    color: white; /* Active state text color */
}
 
.gi-bookmark-icon {
    width: 15px;
    height: 15px;
    fill: none; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: white;
    stroke-width: 2px;
}

/* Arrow Buttons  */
.gi-arrow-button {
    background-color: transparent;
    border: 2px solid transparent; /* Set initial border to transparent */
    cursor: pointer;
    position: fixed;
}

.gi-arrow-button.disabled {
    pointer-events: none;
    opacity: 60%;
}

/* Left arrow button */
.gi-arrow-button.up {
    rotate: -90deg; /* Rotate the arrow for left button */
    top: -7%; 
}

/* Right arrow button (default position) */
.gi-arrow-button.down {
    rotate: 90deg; /* Rotate the arrow for left button */
    bottom: -7%;
}

/* Change icon color on hover */
.gi-arrow-button:hover .gi-arrow-icon,
.gi-arrow-button:active .gi-arrow-icon {
    fill: var(--selection-hover-color); /* Change fill color on hover */
}

.gi-arrow-icon {
    width: 17px;
    height: 17px;
    fill: var(--selection-color); /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--selection-color);
    stroke-width: 0px;
}

/* Search and Results Container */
.gi-search-results-container {
    position: fixed;
    bottom: 9vh;
    display: flex;
    align-items: center; /* Center them vertically */
}

/* Results */
.gi-results {
    position: fixed;
    left: 75vw;
    transform: translateX(-50%);
    font-weight: 200;
    color: var(--selection-color);
}

/* Search Logic Menu */
.gi-search-logic-menu {
    position: fixed;
    left: 40vw;
    transform: translateX(-50%);
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 2px solid #dedede;
    border-radius: 50px;
    padding: 0px;
    overflow: hidden;
    justify-content: space-between; /* Ensure equal spacing */
}

.gi-logic-button-background {
    background-color: white;
    border: none;
    padding: 2px;
    border-radius: 50px; /* Rounded on the right side */
    z-index: 15; /* Ensuring it's above the search button background */
    display: flex;
    align-items: center;
}

.gi-logic-buttons {
    display: flex;
    align-items: center;
    background-color: #b1b1b1;
    border-radius: 50px;
    padding: 2.5px 2.5px;
    margin-left: -1.5px;
    gap: 7px;
    z-index: 20; /* Ensure it’s on top */
}

.gi-logic-button {
    border: none;
    background-color: #bcbcbc;
    padding: 3px;
    border-radius: 50px;
    width: 57px;
    cursor: pointer;
    color: #7a7a79;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 13px;
    outline: none;
}

.gi-logic-button:hover,
.gi-logic-button:active {
    background-color: #d1d4d5; /* Darkened version of the original background color */
}

.gi-logic-button.active {
    background-color: white;
}

.gi-search-button {
    position: relative;
    left: -7%;
    color: white;
    border: none;
    padding: 6.5px 16.5px 6.5px 0px; /* Adjusted left padding */;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 11px;
    background-color: var(--selection-color);
    border-radius: 0 50px 50px 0; /* Rounded on the right side */
    z-index: 10;
    text-indent: 25px; /* Move text 10px to the right */
    outline: none;
}

.gi-search-button:hover,
.gi-search-button:active {
    background-color: var(--selection-hover-color); /* Darkened version of the original background color */
}

.gi-bold-text {
    font-weight: 500;
}




  