:root {
    --selection-color: #e5007e; /* Default color */
    --selection-hover-color: #841321; /* Default color */
    --bookmark-cs-color: #e5007e; /* Default color */
    --bookmark-cs-hover-color: #841321; /* Default color */
    --gray-color: #841321; /* Default color */
    --gray-hover-color: #841321; /* Default color */
    --search-menu-width: 35vh; /* Default color */
    --logic-buttons-width: 22.3vh; /* Default color */
    --search-button-left: -6%; /* Default color */
}

/* Text Container */
.gi-text-container {
    position: fixed;
    top: 16vh;
    right: calc(9vw - 53/2 *1vh);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center;   /* Center items horizontally */
}

/* Card Container */
.gi-card-container {
    width: 48vh;
    height: 62vh;
    padding: 2.5vh;
    border-radius: 1.2vh;
    background: linear-gradient(to bottom right, #9797b1 25%, #d4d4df 80%);
    overflow: hidden;
    color: white;
    position: relative;
}

.gi-instruction {
    position: relative;
    top: 8vh;
    color: var(--gray-color);
    font-size: 3vh;
    width: 40vh;
}

.gi-no-results {
    position: relative;
    top: 8vh;
    color: var(--gray-color);
    font-size: 3vh;
    width: 40vh;
}

.gi-title {
    font-size: 3vh;
    font-weight: 500;
    margin-top: 0;
    max-width: 42vh;
}

.gi-description {
    font-size: 2.1vh;
    font-weight: 400;
    margin-top: 1.4vh;
  }
  
.gi-credits {
    font-size: 1.8vh;
    font-weight: 200;
    position: fixed;  /* Absolute positioning within the container */
    bottom: 14.1vh;        
}

.gi-boxes-container {
    position: fixed;
    bottom: 3.6vh;  
}

/* Boxes Section */
.gi-box-row {
    display: flex;
    gap: 1vh; /* Optional: adds spacing between the text boxes */
    margin-bottom: -2.2vh; /* Space between rows, reduce this value */
    text-align: center; /* Optional: center the text itself */
}

.gi-text-box {
    background-color: #8888a5;
    height: 3.5vh;
    line-height: 3.5vh; /* Make line height equal to the height of the box */
    opacity: 70%;
    border-radius: 0.5vh;
    font-size: 1.6vh;
}

.gi-text-box.type { width: 22vh; }
.gi-text-box.age { width: 10vh; }
.gi-text-box.time { width: 14vh; }
.gi-text-box.languages { width: 14vh; }
.gi-text-box.mainTarget { width: 22vh; }
.gi-text-box.year { width: 10vh; }

.gi-text-box.collection {
    color: #29294a;
    width: 48vh;
}

/* Bookmark Button */
.gi-bookmark-button {
    background-color: transparent;
    border: 0.3vh solid white;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.3vh; /* Set an explicit width */
    height: 4.3vh; /* Set an explicit height */
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
 
.gi-bookmark-button:hover,
.gi-bookmark-button:active {
    border-color: #fff; /* Change border color on hover */
    background-color:  rgba(255, 255, 255, 0.2);
}

.gi-bookmark-button.active {
    background-color: var(--bookmark-cs-color); /* Active state background color */
    color: white; /* Active state text color */
}

.gi-bookmark-button.active:hover,
.gi-bookmark-button.active:active {
    background-color: var(--bookmark-cs-hover-color); /* Active state background color */
}
 
.gi-bookmark-icon {
    width: 2.2vh;
    height: 2.2vh;
    fill: none; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: white;
    stroke-width: 0.2vh;
}

/* Arrow Buttons  */
.gi-arrow-button {
    background-color: transparent;
    border: 0 solid transparent; /* Set initial border to transparent */
    cursor: pointer;
    position: fixed;
    top: 50%;
    display: flex; /* Ensures button content (icon) is properly aligned */
    align-items: center;
    justify-content: center;
    outline: none;
}

.gi-arrow-button.disabled {
    pointer-events: none;
    opacity: 60%;
}

/* Left arrow button */
.gi-arrow-button.left {
    transform: translateY(-50%) scale(-1); /* Rotate the arrow for left button */
    left: -10%; 
}

/* Right arrow button (default position) */
.gi-arrow-button.right {
    transform: translateY(-50%); /* Rotate the arrow for left button */
    right: -10%;
}

/* Change icon color on hover */
.gi-arrow-button:hover .gi-arrow-icon,
.gi-arrow-button:active .gi-arrow-icon {
    fill: var(--gray-hover-color); /* Change fill color on hover */
}

.gi-arrow-icon {
    width: 2.8vh;
    height: 2.8vh;
    fill: var(--gray-color); /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--gray-color);
    stroke-width: 0;
}

/* Results Container */
.gi-results-container {
    position: fixed;
    bottom: 11vh;
    left: 78vw;
    display: flex;
    align-items: center; /* Center them vertically */
}

.gi-results {
    position: fixed;
    align-items: center; /* Center them vertically */
    transform: translate(-50%, -50%);
    font-size: 2.4vh;
    font-weight: 200;
    color: #29294a;
}

@media (max-aspect-ratio: 16/9) {
    /* Your styles for smaller screens go here */
    .gi-results {
        left: 77vw;
    }
}

/* Search Logic Menu */
.gi-search-container {
    position: fixed;
    top: 9vh;
    left: 65.85vw;
    display: flex;
    align-items: center; /* Center them vertically */
    transform: translateY(-50%);
}

.gi-search-logic-menu {
    width: 31.5vh;
    height: 4.2vh;
    display: flex;
    align-items: center;
    border: 0.2vh solid #dedede;
    border-radius: 50px;
    padding: 0;
    overflow: hidden;
    justify-content: space-between; /* Ensure equal spacing */
}

.gi-logic-button-background {
    background-color: white;
    border: none;
    padding-bottom: 0.05vh;
    padding-left: 0.4vh;
    padding-right: 0.3vh;
    border-radius: 50px; /* Rounded on the right side */
    z-index: 15; /* Ensuring it's above the search button background */
    display: flex;
    align-items: center;
}

.gi-logic-buttons {
    display: flex;
    align-items: center;
    background-color: #b1b1b1;
    border-radius: 50px;
    padding: 0.4vh 0.4vh;
    margin-left: -0.2vh;
    gap: 0.6vh;
    z-index: 20; /* Ensure it’s on top */
    width: 21.6vh;
}

.gi-logic-button {
    border: none;
    background-color: #bcbcbc;
    padding: 0.4vh 1.2vh;
    border-radius: 50px;
    cursor: pointer;
    color: #7a7a79;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 1.6vh;
    outline: none;
    flex: 0 1 auto; /* Allow buttons to shrink and grow */   
    min-width: 8vh;
}

.gi-logic-button:hover,
.gi-logic-button:active {
    background-color: #d1d4d5; /* Darkened version of the original background color */
}

.gi-logic-button.active {
    background-color: white;
}

.gi-search-button {
    position: relative;
    left: var(--search-button-left);
    color: white;
    border: none;
    height: 3.7vh;
    padding: 1vh 1.7vh 1vh 0; /* Adjusted left padding */;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 1.5vh;
    background-color: var(--selection-color);
    border-radius: 0 50px 50px 0; /* Rounded on the right side */
    z-index: 10;
    text-indent: 2.7vh; /* Move text 10px to the right */
    outline: none;
}

.gi-search-button:hover,
.gi-search-button:active {
    background-color: var(--selection-hover-color); /* Darkened version of the original background color */
}

.gi-back-to-filters-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b59eac;
    color: white;
    border-radius: 50px;
    padding: 1vh;
    z-index: 20; /* Ensure it’s on top */
    width: 30.7vh;
    height: 3.5vh;
    font-size: 1.5vh;
    border: none;
    cursor: pointer;
}

.gi-back-to-filters-button:hover {
    background-color: #cbb6c3;
}

/* Dropdown Menu */
.gi-dropdown-container {
    position: fixed;
    top: 9vh;
    right: 9vw;
}

.gi-dropdown-container.disabled {
    pointer-events: none;
    opacity: 60%;
}

.gi-dropdown-button {
    transform: translateY(-50%);    
    width: 20vh;
    height: 4.2vh;
    border: 0.2vh solid #dedede;
    border-radius: 50px;
    padding: 0;
    overflow: hidden;
    justify-content: space-between; /* Ensure equal spacing */
    display: flex;
    align-items: center;
}

/* Show bookmark button */
.gi-show-bookmarks-container {
    background-color: transparent;
    border: 0.2vh solid #dedede;
    border-radius: 50px;
    cursor: pointer;
    width: 16vh; /* Set an explicit width */
    height: 4.4vh; /* Set an explicit height */
    padding: 0;
    margin-left: -0.05vh;
    box-sizing: border-box;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-color);
    gap: 0.5vh;
}

.gi-show-bookmarks-container:hover {
    background-color: var(--bookmark-cs-hover-color);;
    color: white;
}

.gi-show-bookmarks-container:hover .gi-bookmark-icon.show {
    stroke: white;
}

.gi-show-bookmark-button {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 1.7vh;
}

.gi-bookmark-icon.show {
    width: 1.8vh;
    height: 1.8vh;
    fill: none; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--gray-color);
    stroke-width: 0.2vh;
}

.gi-show-bookmarks-container.active {
    border: 0.2vh solid var(--bookmark-cs-color);
    background-color: var(--bookmark-cs-color); /* Active state background color */
    color: white;
}

.gi-show-bookmarks-container.active:hover {
    background-color: var(--bookmark-cs-hover-color); /* Active state background color */
}

.gi-show-bookmarks-container.active .gi-bookmark-icon {
    stroke: white; /* Active state background color */
}

/* Show all button */
.gi-show-carousel-container {
    background-color: transparent;
    border: 0.2vh solid #dedede;
    border-radius: 50px;
    cursor: pointer;
    width: 16vh; /* Set an explicit width */
    height: 4.4vh; /* Set an explicit height */
    padding: 0;
    margin-left: -0.05vh;
    box-sizing: border-box;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-color);
    gap: 0.5vh;
}

.gi-show-carousel-container:hover {
    background-color: var(--gray-hover-color);
    color: white;
}

.gi-show-carousel-button {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 1.7vh;
}

.gi-show-carousel-container.active {
    border: 0.2vh solid var(--gray-color);
    background-color: var(--gray-color); /* Active state background color */
    color: white;
}

.gi-show-carousel-container.active:hover {
    background-color: var(--gray-hover-color); /* Active state background color */
}

/* Arrow and dropdown content */
.gi-dropdown-arrow {
    position: absolute;
    right: 3%;
    color: black;
    background-color: transparent;
    border: none;
    height: 4vh;
    cursor: pointer;
    z-index: 10;
    outline: none;
}

.gi-dropdown-arrow-icon {
    width: 1.3vh;
    height: 1.3vh;
    fill: var(--gray-color); /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--gray-color);
    margin-top: 0.6vh;
    stroke-width: 0vh;
    transform: rotate(90deg);
}

.gi-dropdown-arrow-icon:hover {
    fill: var(--gray-hover-color); /* Set default color for the bookmark */
}

.gi-dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 0%;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5vh;
    width: 20vh;
    border: none;
    height: 4.2vh;
    border-radius: 1vh;
}
  
/* Bold text */
.gi-bold-text {
    font-weight: 500;
}




  