:root {
    --wave-color: #ffffff; /* Default color */
    --text-color: #ffffff
    --selection-color: #e5007e; /* Default color */
    --selection-hover-color: #841321; /* Default color */
}

/* Text Container */
.gs-text-container {
    position: fixed;
    top: 10.6vh; 
    left: 64.5vw;
    padding: 0px;
    margin: 0px;
    z-index: 30;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;   /* Center items horizontally */
    color: var(--text-color);
}
  
.gs-white-line{
    height: 1px;
    width: 260px;
    background-color:  var(--text-color);
    z-index: 40;
}

.gs-title {
    font-size: 1.4em; /* Larger size for h1 */
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 7px;
    text-align: left; /* Align text within itself */
    align-self: flex-start; /* Override center alignment */
}

.gs-headline {
    font-size: 1.8em; /* Smaller size for h2 */
    font-weight: 500;
    line-height: 1.2;
    margin-top: -5px;
}

.gs-text b {
    font-weight: 500;
}

/* Gradient Background */
.gs-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20; /* Ensure this doesn't interfere with other content */
}

.gs-background.gradient {
    background: linear-gradient(to right, transparent 25%, var(--wave-color) 100%);
}

/* Search Button */
.gs-search-container {
    position: fixed;
    bottom: 4vh;
    left: 50vw;
    display: flex;
    align-items: center; /* Center them vertically */
}

.gs-search-container.left {
    left: 40vw;
}

.gs-search-outline {
    position: fixed;
    transform: translate(-50%, -50%);
    border: 2px solid #dedede;
    border-radius: 50px;
    overflow: hidden;
    box-sizing: border-box;
}

.gs-search-button {
    color: white;
    border: none;
    cursor: pointer;
    height: 37px;
    width: 84px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 11px;
    background-color:  var(--selection-color);
    border-radius: 50px; /* Rounded on the right side */
    z-index: 10;
    outline: none;
    margin: 2px;
    margin-left: 1.8px;
}

.gs-search-button:hover,
.gs-search-button:active {
    background-color: var(--selection-hover-color); /* Darkened version of the original background color */
}

/* Arrow Icon */
.gs-arrow-button {
    background-color: transparent;
    border: 2px solid transparent; /* Set initial border to transparent */
    cursor: pointer;
    position: fixed;
    transform: translate(-50%);
    position: fixed;
    bottom: 4vh;
    display: flex;
    align-items: center; 
    outline: none; /* Removes the focus outline */
}

.gs-arrow-button.down {
    rotate: 90deg; /* Rotate the arrow for left button */
}

.gs-arrow-button:hover .gi-arrow-icon,
.gs-arrow-button:active .gi-arrow-icon {
    fill: var(--selection-hover-color); /* Change fill color on hover */
}

.gs-arrow-icon {
    width: 17px;
    height: 17px;
    fill: var(--selection-color); /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--selection-color);
    stroke-width: 0px;
}



