:root {
    --intro-text-color: #000000; /* Default color */
}

/* Title (Frame 00) */
.i-title-container {
    position: absolute;
    top: 45vh; /* Position item 50% from the top */
    left: 50vw; 
    transform: translate(-50%, -50%);
    max-width: 43vh;
    text-align: center; /* Center the text inside the element */
    color: rgb(0,40,112);    
}

.i-welcome {
    font-size: 3.5vh;
    font-weight: 400;
    letter-spacing: 0.1vh;
}

.i-title {
    font-size: 7vh;
    font-weight: 600;
    line-height: 0.9;
}

/* Explanation (Frame 01) */
.i-explanation-container {
    position: absolute;
    top: 47vh; /* Position item 50% from the top */
    left: 50vw; 
    transform: translate(-50%, -50%);
    text-align: center; /* Center the text inside the element */
    color: rgb(0,40,112);    
}

.i-explanation {
    font-size: 3.5vh;
    font-weight: 600;
    line-height: 1.4;
}

.i-subjects {
    font-size: 3.3vh;
    font-weight: 500;
    line-height: 1.4;
}

.i-subjects.bold {
    font-weight: 700;
}

/* Text Container (Frames 02-07) */
.i-text-container {
    position: absolute;
    top: 32vh;
    right: 7vw;
    width: 40vh;
}

@media (max-width: 1300px) {
    /* Your styles for smaller screens go here */
    .i-text-container {
        right: 1vw;
    }
}

.i-text {
    color: black;
    font-size: 3.3vh;
    font-weight: 300;
    line-height: 1.35;
}

.i-text.colored {
    font-weight: 500;
    white-space: nowrap;
    color: var(--intro-text-color);
}
