:root {
    --intro-text-color: #000000; /* Default color */
}

/* Title (Frame 00) */
.i-title-container {
    position: absolute;
    top: 47vh; /* Position item 50% from the top */
    left: 50vw; 
    transform: translate(-50%, -50%);
    max-width: 250px;
    text-align: center; /* Center the text inside the element */
    color: rgb(0,40,112);    
}

.i-welcome {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.i-title {
    margin-top: -25px;
    font-size: 3em;
    font-weight: 600;
    line-height: 0.9;
}

/* Explanation (Frame 01) */
.i-explanation-container {
    position: absolute;
    top: 47vh; /* Position item 50% from the top */
    left: 50vw; 
    transform: translate(-50%, -50%);
    text-align: center; /* Center the text inside the element */
    color: rgb(0,40,112);    
}

.i-explanation {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0.3;
}

.i-explanation.smaller {
    font-size: 1.3em;
    font-weight: 500;
}


.i-bold-text {
    font-weight: 700;
}

/* Text Container (Frames 02-07) */
.i-text-container {
    position: absolute;
    top: 32vh;
    left: 72vw;
    width: 310px;
    color: black;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.35;
}

.i-text {
    margin: 0;
    padding: 0;
}

.i-text.colored {
    font-weight: 500;
    white-space: nowrap;
    color: var(--intro-text-color);
}

.i-space {
    margin-top: 10px;
}