:root {
    --selection-color: #e5007e; /* Default color */
    --text-color: #ffffff; /* Default color */
    --image-color: transparent; /* Default color */
}

/* Text Container */
.l-text-container {
    position: fixed;
    top: 14vh; 
    left: 65vw;
    color: var(--text-color); 
    z-index: 30;
}
  
.l-title {
    font-size: 3vh; /* Larger size for h1 */
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.l-headline {
    font-size: 4.2vh; /* Smaller size for h2 */
    font-weight: 500;
    width: 50vh;
    text-transform: uppercase;
    margin-top: 0.4vh;
}
  
.l-text {
    font-size: 2.2vh;
    margin-top: 3vh;
    font-weight: 300;
    overflow-y: auto; /* Hide overflow initially */
    display: block;
}

.l-text.bold {
    font-weight: 500;
    display: inline;
}

.l-text.principles {
    margin-top: 0;

}

.l-text button {
    border: none;
    background: none;
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}
  
/* Gradient Background */
.l-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20; /* Ensure this doesn't interfere with other content */
}

.l-background.gradient {
    background: linear-gradient(to right, transparent 25%, var(--wave-color) 100%);
}

/* White Line and Bookmark Button */
.l-bookmark-container {
    position: fixed;
    top: 9vh;
    left: 64.5vw;
    display: flex; /* Align items in a row */
    align-items: center; /* Center them vertically */
    z-index: 30;
    transform: translateY(-50%);
}

.l-white-line {
    width: 50vh;
    height: 0.2vh;
    background-color: var(--text-color);
}
  
.l-bookmark-button {
    background-color: transparent;
    border: 0.3vh solid var(--text-color);
    border-radius: 50%;
    margin-left: 1.2vh; /* Add space between the line and the button */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.3vh; /* Set an explicit width */
    height: 4.3vh; /* Set an explicit height */
    padding: 0; /* Remove padding to match the exact size */
    box-sizing: border-box; /* Includes padding and border in total size */
}
  
.l-bookmark-button:hover {
    border-color: var(--text-color); /* Change border color on hover */
    background-color:  rgba(255, 255, 255, 0.2);
}
  
.l-bookmark-button:active {
    border-color: var(--text-color); /* Change border color on hover */
    background-color:  rgba(199, 181, 181, 0.2);
}

.l-bookmark-button.active {
    background-color: var(--selection-color); /* Active state background color */
}
  
.l-bookmark-icon {
    width: 2.2vh;
    height: 2.2vh;
    fill: none; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--text-color);
    stroke-width: 0.3vh;
}

/* Images */
.l-image-container {
    position: fixed;
    overflow: hidden; /* To prevent any overflow issues */
    top: 6vh;
    right: 28vw;
    z-index: 10;
    opacity: 40%;
    border-radius: 50%; /* Make the container circular */
    width: 32vh; /* Set the desired width */
    height: 32vh; 
}

.l-principles-image {
    width: 32vh; /* Set the desired width */
    height: 32vh; /* Maintain the aspect ratio */
    opacity: 100%;
    z-index: 10;
}

.l-other-components-image {
    width: 32vh; /* Set the desired width */
    height: 32vh; /* Maintain the aspect ratio */
    opacity: 0%;
    z-index: 10;
}

.l-color-overlay {
    position: 'absolute'; /* Absolutely position the overlay on top of the image */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--image-color); /* Apply the dynamic color */
    mix-blend-mode: color; /* Use blend mode to tint the image */
    pointer-events: none; /* Disable interaction with the overlay */
    z-index: 5;
}

/* Concepts Container */
.l-concepts-container {
    display: flex;
    padding-top: 2.2vh;
}

.l-title-concepts {
    font-size: 2.3vh; /* Larger size for h1 */
    font-weight: 600;
    margin: 0;
}

.l-text-concepts {
    font-size: 2vh;
    font-weight: 300;
    display: block;
    overflow-y: auto;
}

.l-text-concepts.expanded {
    overflow-y: auto; /* Enable vertical scroll */
    height: 100vh;
    max-height: 13vh; /* Show full content when expanded */
    margin-top: 0;
}

/* Arrow Button */
.l-arrow-button {
    background-color: transparent;
    border: 0 solid transparent; /* Set initial border to transparent */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.l-arrow-button.left {
    rotate: 180deg; /* Rotate the arrow for left button */
}

.l-arrow-button:hover .l-arrow-icon,
.l-arrow-button:active .l-arrow-icon {
    fill: #d8d8d8; /* Change fill color on hover */
}

.l-arrow-icon {
    width: 1.5vh;
    height: 1.5vh;
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: rgb(0, 0, 0);
    stroke-width: 0;
    fill: var(--text-color);
}

/* Scroll Features */
.l-scroller {
    overflow:auto;
    display: block;
}
    
.l-scroller::-webkit-scrollbar {
    width: 0.3vh;
    background-color:transparent;
}
        
.l-scroller::-webkit-scrollbar-thumb {
    background: var(--text-color); /* Use the CSS variable here */
    border-radius: 2vh;
}




