:root {
    --gray-color: #ffffff; /* Default color */
    --gray-hover-color: #000000;
}

/* Text Container */
.m2-text-container {
    position: fixed;
    top: 9vh; 
    left: 65vw; 
    transform: translateY(-50%);
    text-align: center;
}

@media (max-aspect-ratio: 16/9) {
    /* Your styles for smaller screens go here */
    .m2-text-container {
        top: 10vh;
        left: 77vw;
    }
}

/* Project Name Textarea */
.m2-project-name-textarea {
    width: 35vh;
    height: 3.5vh;
    margin-left: 0.25vh;
    padding-left: 1vh;
    font-family: 'Manrope', sans-serif;
    font-size: 2.3vh;
    color: var(--gray-color); /* Set placeholder color to white */
    resize: none;
    margin-bottom: 0;
    border: 0.3vh solid var(--gray-color);
    border-radius: 1.2vh;
    background-color: white;
    cursor: pointer;
}

/* Components Text Areas */
.m2-components-textarea-container {
    position: fixed;
    top: 15vh;
    left: 58vw;
}

.m2-components-textarea-container.left {
    left: calc(58vw + 34vh + 2vh);
}

.m2-components-textarea {
    display: flex;
    flex-direction: column; /* Ensures textareas are stacked */
    align-items: flex-start; /* Aligns them to the left */
    margin-top: 2vh; /* Adds spacing between textareas */
}

.m2-component-textarea {
    width: 30vh;
    height: 8vh;
    font-family: 'Manrope', sans-serif;
    font-size: 2vh;
    resize: none;
    margin-bottom: 0;
    border-radius: 1vh;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    padding: 2vh;
}

.m2-component-textarea::placeholder {
    color: var(--text-color);
    opacity: 0.6; /* Ensure full visibility */
}

.m2-limit-exceed-message {
    position: fixed;
    top: 9vh;
    left: 34vw;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    color: red;
}

/* Submit Button */
.m2-submit-button {
    font-family: 'Manrope', sans-serif;
    font-size: 2.3vh;
    font-weight: 200;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: var(--gray-color);
    border: none;
    cursor: pointer;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
    margin-top: 9vh;
}

.c-submit-button:hover, .c-submit-button:active {
    color: var(--gray-hover-color);
}

