/* Text Container */
.m2-text-container {
    position: fixed;
    top: var(--top-space); 
    right: var(--left-space); 
    text-align: center;
}

/* Project Name Textarea */
.m2-project-name-textarea {
    transform: translateY(-50%);
    width: calc(var(--container-width) - 1vh);
    height: var(--button-height);
    padding-left: 1vh;
    font-family: "Bitter", serif;
    font-size: 2.7vh;
    font-weight: 400;
    color: var(--gray-color); /* Set placeholder color to white */
    resize: none;
    margin-bottom: 0;
    border: var(--button-border) solid var(--gray-color);
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    overflow-y: hidden; /* Hides the scrollbar */
}

.m2-project-name-textarea::placeholder {
    font-size: 2.7vh;
    font-weight: 400;
}

/* Components Text Areas */
.m2-components-textarea-container {
    position: fixed;
    top: var(--top-space-2);
    right: var(--left-space);
}

.m2-components-textarea-container.right {
    right: calc(var(--left-space) + (var(--container-width) - 1vh) / 2 + 1vh);
}

.m2-components-textarea {
    position: relative;
    display: flex;
    flex-direction: column; /* Ensures textareas are stacked */
    align-items: flex-start; /* Aligns them to the left */
    margin-bottom: 1vh; /* Adds spacing between textareas */
}

.m2-textarea-label {
    position: absolute;
    bottom: 0.5vh; /* Adjust as needed */
    right: 1vh; /* Adjust as needed */
    font-weight: 300;
    font-size: 1.6vh;
    color: var(--text-color); /* Uses the inherited variable */
}

.m2-component-textarea {
    width: calc((var(--container-width) - 1vh) / 2 - 2*2.5vh);
    height: calc((var(--container-height) - 3vh) / 4 - 2*2.5vh);
    line-height: 2.5vh;
    font-family: "Bitter", serif;
    font-size: 1.9vh;
    font-weight: 500;
    color: var(--text-color); /* Uses the inherited variable */
    resize: none;
    margin-bottom: 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 2.5vh;
    overflow-y: hidden; /* Hides the scrollbar */
}

.m2-empty-card {
    width: calc((var(--container-width) - 1vh) / 2 - 2*2.5vh - 2px);
    height: calc((var(--container-height) - 3vh) / 4  - 2*2.5vh - 2px);
    color: white; /* Uses the inherited variable */
    margin-bottom: 0;
    line-height: 2.5vh;
    border-radius: 8px;
    border: 1px solid rgba(151, 151, 150, 0.5);
    cursor: pointer;
    padding: 2.5vh;
}

.m2-component-textarea::placeholder {
    color: var(--text-color);
    opacity: 0.6; /* Ensure full visibility */
}

.m2-component-textarea:focus {
    outline: 2px solid var(--text-color); /* Change outline to a blue color */
}  

.m2-limit-exceed-message {
    position: fixed;
    top: var(--top-space);
    left: 40vw;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    color: red;
}

/* Download button */
.m2-download-pdf-button {
    position: fixed;
    bottom: var(--top-space);
    right: calc(var(--left-space) + var(--container-width)/2);
    transform: translate(50%, 50%);
    height: calc(var(--button-height) + 1.5*var(--button-border));
    border: var(--button-border) solid black;
    border-radius: 100px;
    background-color: white;
    font-size: 1.9vh;
    font-weight: 500;
    width: 37vh;
    color: black;
    display: flex; /* Add Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    outline: none;
}

.m2-download-pdf-button:hover {
    cursor: pointer;
}

.m2-download-pdf-button.no-hover:hover {
    cursor:default; /* Optional: Show disabled cursor */
}

.m2-download-progress {
    position: fixed;
    bottom: calc(var(--top-space-2) - 3.45vh);
    right: calc(var(--left-space) + var(--container-width)/2);
    transform: translate(50%, 50%);
    background-color: white;
    font-size: 2vh;
    color: var(--gray-color);
}

/* Components Text Areas (PDF) */
.m2-components-textarea-pdf {
    position: relative;
    display: flex;
    flex-direction: column; /* Ensures textareas are stacked */
    align-items: flex-start; /* Aligns them to the left */
    margin-top: 15px; /* Adds spacing between textareas */
}

.m2-textarea-label-pdf {
    position: absolute;
    bottom: 4px; /* Adjust as needed */
    right: 7px; /* Adjust as needed */
    font-weight: 300;
    font-size: 12px;
    color: var(--text-color); /* Uses the inherited variable */
}

.m2-component-textarea-pdf {
    width: 160px;
    height: 73px;
    line-height: 18px;
    font-family: "Bitter", serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color); /* Uses the inherited variable */
    resize: none;
    margin-bottom: 0;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    padding: 18px;
    overflow-y: hidden; /* Hides the scrollbar */
}

/* Definitions (PDF) */
.m2-definition {
    margin-bottom: 10px;
    width: 160px;
}

.m2-definition-title {
    font-size: 10px;
    color: var(--title-color);
    padding: 2px;
    padding-left: 5px;
    letter-spacing: 0.6px;  
    font-weight: 500;
}

.m2-definition-text {
    font-size: 9px;
    font-weight: 300;
    margin-top: -7px;
}

/* OL Compass (PDF) */
.m2-ol-compass {
    position: fixed;   
    top: 0vh;           
    left: 0vw;
}



