:root {
    --gray-color: #ffffff; /* Default color */
    --gray-hover-color: #000000;
}

/* Text Container */
.m2-text-container {
    position: fixed;
    top: 9vh; 
    right: 9vw; 
    text-align: center;
}

@media (max-aspect-ratio: 16/9) {
    /* Your styles for smaller screens go here */
    .m2-text-container {
        top: 10vh;
        left: 77vw;
    }
}

/* Project Name Textarea */
.m2-project-name-textarea {
    transform: translateY(-50%);
    width: 51.8vh;
    height: 3.5vh;
    padding-left: 1vh;
    font-family: "Bitter", serif;
    font-size: 2.7vh;
    font-weight: 400;
    color: var(--gray-color); /* Set placeholder color to white */
    resize: none;
    margin-bottom: 0;
    border: 0.3vh solid var(--gray-color);
    border-radius: 1.2vh;
    background-color: white;
    cursor: pointer;
    overflow-y: hidden; /* Hides the scrollbar */
}

.m2-project-name-textarea::placeholder {
    font-size: 2.7vh;
    font-weight: 400;
}

/* Components Text Areas */
.m2-components-textarea-container {
    position: fixed;
    top: 16vh;
    right: 9vw;
}

.m2-components-textarea-container.right {
    right: calc(9vw + 21.2vh + 5vh + 1vh);
}

.m2-components-textarea {
    position: relative;
    display: flex;
    flex-direction: column; /* Ensures textareas are stacked */
    align-items: flex-start; /* Aligns them to the left */
    margin-bottom: 1vh; /* Adds spacing between textareas */
}

.m2-textarea-label {
    position: absolute;
    bottom: 0.5vh; /* Adjust as needed */
    right: 1vh; /* Adjust as needed */
    font-weight: 300;
    font-size: 1.6vh;
    color: var(--text-color); /* Uses the inherited variable */
}

.m2-component-textarea {
    width: 21.2vh;
    height: 11vh;
    line-height: 2.5vh;
    font-family: "Bitter", serif;
    font-size: 1.9vh;
    font-weight: 500;
    color: var(--text-color); /* Uses the inherited variable */
    resize: none;
    margin-bottom: 0;
    border-radius: 1vh;
    border: none;
    cursor: pointer;
    padding: 2.5vh;
    overflow-y: hidden; /* Hides the scrollbar */
}

.m2-empty-card {
    width: 20.75vh;
    height: 10.75vh;
    color: white; /* Uses the inherited variable */
    margin-bottom: 0;
    line-height: 2.5vh;
    border-radius: 1vh;
    border: 0.1vh solid var(--gray-hover-color);
    cursor: pointer;
    padding: 2.5vh;
}

.m2-component-textarea::placeholder {
    color: var(--text-color);
    opacity: 0.6; /* Ensure full visibility */
}

.m2-component-textarea:focus {
    outline: 2px solid var(--text-color); /* Change outline to a blue color */
}  

.m2-limit-exceed-message {
    position: fixed;
    top: 9vh;
    left: 34vw;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    color: red;
}

/* Download button */
.m2-download-pdf-button {
    position: fixed;
    bottom: 9vh;
    left: 78vw;
    transform: translate(-50%, 50%);
    height: 4.3vh;
    border: 0.3vh solid black;
    border-radius: 100px;
    background-color: white;
    font-size: 1.9vh;
    font-weight: 500;
    width: 37vh;
    color: black;
    display: flex; /* Add Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    outline: none;
}

.m2-download-pdf-button:hover {
    cursor: pointer;
}

.m2-download-pdf-button.no-hover:hover {
    cursor:default; /* Optional: Show disabled cursor */
}

.m2-download-progress {
    position: fixed;
    bottom: 11vh;
    left: 78vw;
    transform: translate(-50%, 50%);
    background-color: white;
    font-size: 2vh;
    color: var(--gray-color);
}

/* Components Text Areas (PDF) */
.m2-components-textarea-pdf {
    position: relative;
    display: flex;
    flex-direction: column; /* Ensures textareas are stacked */
    align-items: flex-start; /* Aligns them to the left */
    margin-top: 15px; /* Adds spacing between textareas */
}

.m2-textarea-label-pdf {
    position: absolute;
    bottom: 4px; /* Adjust as needed */
    right: 7px; /* Adjust as needed */
    font-weight: 300;
    font-size: 12px;
    color: var(--text-color); /* Uses the inherited variable */
}

.m2-component-textarea-pdf {
    width: 208px;
    height: 73px;
    line-height: 18px;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color); /* Uses the inherited variable */
    resize: none;
    margin-bottom: 0;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    padding: 18px;
    overflow-y: hidden; /* Hides the scrollbar */
}

/* Definitions (PDF) */
.m2-definitions-container.fixed {
    position: fixed;
    top: 15vh;
    left: 9vw;
}

.m2-definitions-top-lines {
    position: absolute;
    top: 9px;
    left: 0;
    display: flex;
}

.m2-definitions-horizontal-line {
    width: 275px;
    height: 1px;
    background-color: var(--background-color);
}

.m2-definitions-vertical-line {
    width: 1px;
    height: 320px; /* Total height of both lines */
    background: linear-gradient(
        to bottom, 
        var(--background-color) 60px, /* Existing line color and height */
        white 60px 100% /* White line starts after 60px and takes the rest */
    );
}

.m2-definition {
    margin-bottom: 10px;
}

.m2-definition-title {
    width: 270px;
    font-size: 10px;
    color: var(--title-color);
    background: linear-gradient(
        to right, 
        var(--background-color) 20%, /* Main color covers 70% of the area */
        transparent 70%                  /* Fades into white by 100% */
    );
    padding: 2px;
    padding-left: 5px;
    letter-spacing: 0.6px;  
    font-weight: 500;
}

.m2-definition-text {
    width: 250px;
    font-size: 10px;
    font-weight: 300;
    margin-top: -7px;
}

/* OL Compass (PDF) */
.m2-ol-compass {
    position: fixed;   
    top: 0vh;           
    left: 0vw;
}



