:root {
    --background-color: #ffffff; /* Default color */
    --title-color: #000000;
    --top-position: 0vh;
    --left-position: 0vw;
    --gray-color: #ffffff; /* Default color */
    --gray-hover-color: #000000;
}

/* Area to click to start Ideate mode */
.i-mouse-click-area {
    position: fixed;
    top: 0vh;
    left: 27vw;
    width: 80vw;
    height: 100vh;
    z-index: 200;
}

/* Project Name Textarea */
.i-textarea {
    position: fixed;
    top: 9vh;
    left: calc(12.5vw + 21.6vh + 1.7vw);
    transform: translateY(-50%);
    width: 27vh;
    height: 3.5vh;
    padding-left: 1vh;
    font-family: 'Manrope', sans-serif;
    font-size: 2.3vh;
    color: #000000; /* Set placeholder color to white */
    resize: none;
    margin-bottom: 0;
    border: 0.3vh solid #000000;
    border-radius: 100px;
    background-color: white;
}
  
.i-textarea::placeholder {
    color: var(--gray-color); /* Set placeholder color to white */
}
/* Generate PDF Button and Loading Bar */
.i-download-container {
    position: fixed;
    bottom: 9vh;
    left: 18.5vw; /* Positioning at the bottom of the page */
    transform: translateY(50%);
    display: flex;
    gap: 2.95vh; /* Space between buttons */
    align-items: center;
    justify-items: center;
    background-color: transparent;
}

.i-download-pdf-button {
    height: 3.5vh;
    border: 0.3vh solid var(--gray-color);
    border-radius: 100px;
    background-color: white;
    font-size: 2vh;
    width: 26vh;
    color: var(--gray-color);
    display: flex; /* Add Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.i-download-pdf-button:hover {
    cursor: pointer;
    border: 0.3vh solid var(--gray-hover-color);
    color: var(--gray-hover-color);
}

.i-download-pdf-button.no-hover:hover {
    border: 0.3vh solid var(--gray-hover-color);
    cursor:default; /* Optional: Show disabled cursor */
}

.i-download-progress {
    background-color: white;
    font-size: 2.1vh;
    color: var(--gray-color);
}

/* ABCD Tasks Menu (PDF) */
.i-tasks-nav-pdf {
    display: flex;
    gap: 22px; /* Space between buttons */
    align-items: center;
    justify-items: center;
    background-color: transparent;
}

.i-task-button-pdf {
    width: 14px; /* Default size */
    height: 14px;
    border-radius: 50%;
    background-color: #0a4461;
    color: white;
    border: none;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
  
.i-task-button-pdf.active {
    width: 29px; /* Increase size for the active button */
    height: 29px;
    font-size: 16px; /* Make the text bigger in the active button */
}

/* Definitions (PDF) */
.i-definitions-container {
    top: 15vh;
    left: 9vw;
}

.i-definitions-container.fixed {
    position: fixed;
}

.i-definitions-top-lines {
    position: absolute;
    top: 9px;
    left: 0;
    display: flex;
}

.i-definitions-horizontal-line {
    width: 261px;
    height: 1px;
    background-color: var(--background-color);
}

.i-definitions-vertical-line {
    width: 1px;
    height: 320px; /* Total height of both lines */
    background: linear-gradient(
        to bottom, 
        var(--background-color) 60px, /* Existing line color and height */
        white 60px 100% /* White line starts after 60px and takes the rest */
    );
}

.i-definition {
    margin-bottom: 5px;
}

.i-definition-title {
    width: 255px;
    font-size: 10px;
    color: var(--title-color);
    background: linear-gradient(
        to right, 
        var(--background-color) 20%, /* Main color covers 70% of the area */
        transparent 70%                  /* Fades into white by 100% */
    );
    padding: 2px;
    padding-left: 5px;
    letter-spacing: 0.6px;  
    font-weight: 500;
}

.i-definition-text {
    width: 185px;
    font-size: 10px;
    font-weight: 300;
    margin-top: -10px;
}

/* OL Compass (PDF) */
.i-ol-compass {
    position: fixed;   
    top: var(--top-position);           
    left: var(--left-position);           
}

/* Placeholder on Textareas in Compass */
.i-compass-textarea::placeholder {
    color: rgb(114, 113, 111, 0.5); /* Semi-transparent color */
}


