body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    user-select: none;
}




