body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    user-select: none;
}

.orientation-warning {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 65vw;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    z-index: 9999;
    text-align: center;
}

.orientation-warning h2 {
    font-weight: 400;
    font-size: 3.8vw;
}

.orientation-warning p {
    font-weight: 300;
    font-size: 3.3vw;
}
