.c-text-container {
    position: fixed;
    top: 16%; /* Position item 50% from the top */
    left: 62%; /* Position item 50% from the left */
    width: 300px;
    text-align: center;
}

.c-textarea-container {
    border: 2px solid #ceceda; /* Define border width, style, and color */
    border-radius: 6px; /* You can increase the radius to make it more rounded */
    padding: 5px;
}

.c-title textarea,
.c-description textarea,
.c-insert-sources input {
    width: 100%;
    padding: 10px;
    background-color: #f5f5f7;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: #454574; /* Set placeholder color to white */
    resize: none;
    margin-bottom: 0px;
}
  
.c-placeholder::placeholder {
    opacity: 1; /* Remove transparency */
    color: #454574; /* Set placeholder color to white */
}

.c-title textarea {
    font-size: 1.3em;
    height: 80px;
}

.c-description textarea {
    font-size: 1.2em;
    height: 200px;
}

.c-insert-sources input {
    font-size: 0.8em;
    font-weight: 300;
}

/* Style for the filters container */
.c-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-gap: 10px;
    margin-top: 20px;
    width: 100%;
}

/* Style for select dropdowns */
.c-filters select {
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 0.6em;
    padding: 5px 8px; /* Add padding for the oval look */
    border: 1px solid #ccc;
    border-radius: 25px; /* Oval shape */
    background-color: white;
    appearance: none; /* Remove the default arrow, you can add a custom one */
    outline: none;
}

