/* Style for text-container */
.gi-text-container {
    position: absolute;
    top: 16%; /* Position item 50% from the top */
    left: 75%; /* Position item 50% from the left */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center;   /* Center items horizontally */
}

.gi-card-container {
    width: 300px;
    height: 430px;
    padding: 20px;
    border-radius: 6px;
    background: linear-gradient(to bottom right, #9797b1 25%, #d4d4df 80%);
    overflow: hidden;
    color: white;
    position: relative;
}

.gi-title{
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 0px;
    max-width: 280px;
}

.gi-description {
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
  }
  
.gi-credits {
    font-size: 0.8em;
    font-weight: 200;
    position: absolute;  /* Absolute positioning within the container */
    bottom: 110px;        
}

.gi-boxes-container {
    position: absolute;
    bottom: 28px;  
}

.gi-box-row {
    display: flex;
    gap: 5px; /* Optional: adds spacing between the text boxes */
    margin-bottom: -20px; /* Space between rows, reduce this value */
    text-align: center; /* Optional: center the text itself */
}

.gi-text-box {
    background-color: #8888a5;
    height: 25px;
    line-height: 25px; /* Make line height equal to the height of the box */
    opacity: 70%;
    border-radius: 3px;
    font-size: 0.8em;
}

.gi-text-box.type {
    width: 140px;
}

.gi-text-box.age {
    width: 60px;
}

.gi-text-box.time {
    width: 90px;
}

.gi-text-box.languages {
    width: 90px;
}

.gi-text-box.mainTarget {
    width: 140px;
}

.gi-text-box.year {
    width: 60px;
}

.gi-text-box.collection {
    background-color: #ffffff;
    width: 300px;
    color: #53537e;
}

.gi-bookmark-button {
    background-color: transparent;
    border:2px solid white;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.gi-bookmark-button:hover {
    border-color: #fff; /* Change border color on hover */
    background-color:  rgba(255, 255, 255, 0.2);
}

.gi-bookmark-button:active {
    border-color: #d8d8d8; /* Lighter border on click */
    background-color:  rgba(199, 181, 181, 0.2);
}


.gi-bookmark-button.active {
    background-color: #da398f; /* Active state background color */
    color: white; /* Active state text color */
}
 
.gi-bookmark-icon {
    width: 17px;
    height: 17px;
    fill: none; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: white;
    stroke-width: 1.4px;
    padding-left: 0.7px;
    padding-top: 0.5px;
}

/* General button styles (applies to both left and right buttons) */
.gi-arrow-button {
    background-color: transparent;
    border: 2px solid transparent; /* Set initial border to transparent */
    cursor: pointer;
    position: absolute;
    left: 74%; 
}

/* Left arrow button */
.gi-arrow-button.up {
    rotate: -90deg; /* Rotate the arrow for left button */
    top: 12.3%; /* Position item 50% from the top */
}

/* Right arrow button (default position) */
.gi-arrow-button.down {
    rotate: 90deg; /* Rotate the arrow for left button */
    bottom: 15.5%;
}

/* Change icon color on hover */
.gi-arrow-button:hover .gi-arrow-icon {
    fill: #d8d8d8; /* Change fill color on hover */
}

.gi-arrow-button:active .gi-arrow-icon {
    fill: #b8b8b8; /* Change fill color on hover */
}
 
.gi-arrow-icon {
    width: 15px;
    height: 15px;
    fill: #c2c2d1; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: #c2c2d1;
    stroke-width: 0px;
}


.gi-results {
    position: absolute;
    left: 75%;
    bottom: 9%;
    transform: translateX(-50%);
    font-weight: 200;
}

/* Container for the menu */
.search-mode-menu {
    position: absolute;
    bottom: 7%;
    left: 27%;
    width: 200px;
    display: flex;
    align-items: center;
    border: 2px solid #dedede;
    border-radius: 50px;
    padding: 0px;
    overflow: hidden;
    justify-content: space-between; /* Ensure equal spacing */
}

/* Position the mode button background with higher z-index */
.mode-button-background {
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 50px; /* Rounded on the right side */
    z-index: 15; /* Ensuring it's above the search button background */
    display: flex;
    align-items: center;
}

/* Container for the mode toggle buttons */
.mode-buttons {
    display: flex;
    align-items: center;
    background-color: #b1b1b1;
    border-radius: 50px;
    padding: 6px;
    gap: 5px;
    z-index: 20; /* Ensure it’s on top */
}

/* Individual toggle buttons */
.mode-button {
    border: none;
    background-color: #bcbcbc;
    padding: 10px;
    border-radius: 50px;
    width: 50px;
    cursor: pointer;
    color: #7a7a79;
    font-weight: 500;
    font-size: 10px;
}

.mode-button.active {
    background-color: white;
}

/* SEARCH button */
.search-button {
    position: relative;
    left: -5%;
    color: white;
    border: none;
    background-color: transparent;
    padding: 15px 15px 15px 0px; /* Adjusted left padding */;
    cursor: pointer;
    z-index: 20;
    font-weight: 500;
    font-size: 10px;
    background-color: #e6007e;
    border-radius: 0 50px 50px 0; /* Rounded on the right side */
    z-index: 10;
    width: 130px;
    text-indent: 20px; /* Move text 10px to the right */
}

/* When hovering the area below the mode button background */
.search-button:hover {
    background-color: #cc006f; /* Darkened version of the original background color */
}



  