/* Style for text-container */
.gi-text-container {
    position: absolute;
    top: 11%; /* Position item 50% from the top */
    left: 63%; /* Position item 50% from the left */
    max-width: 280px;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center;   /* Center items horizontally */
}

.gi-card-container {
    width: 300px;
    height: 400px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #9494ad 30%, #aeaec1 60%, #f5f4f4 95%);
    overflow: hidden;
}

.gi-title{
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 0px;
    color: white;
    max-width: 270px;
}

.gi-description {
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
    color: white;
  }
  
.gi-credits {
    font-size: 0.9em;
    font-weight: 200;
    position: absolute;  /* Absolute positioning within the container */
    bottom: 20px;        
    color: white;
}

.gi-results {
    margin-bottom: 15px;
    font-weight: 200;
}

.gi-show-more-button {
    font-family: 'Manrope', sans-serif;
    font-size: 1.05em;
    font-weight: 200;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    padding-left: 0;
    bottom: 25px;     
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}

.gi-show-more-button:hover {
    color: rgb(203, 202, 202);
}

.gi-bookmark-button {
    background-color: transparent;
    border:2px solid white;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: -4%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.gi-bookmark-button:hover {
    border-color: #fff; /* Change border color on hover */
    background-color:  rgba(255, 255, 255, 0.2);
}

.gi-bookmark-button:active {
    border-color: #d8d8d8; /* Lighter border on click */
    background-color:  rgba(199, 181, 181, 0.2);
}


.gi-bookmark-button.active {
    background-color: #da398f; /* Active state background color */
    color: white; /* Active state text color */
}
 
.gi-bookmark-icon {
    width: 17px;
    height: 17px;
    fill: white; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: white;
    stroke-width: 1px;
}

/* General button styles (applies to both left and right buttons) */
.gi-arrow-button {
    background-color: transparent;
    border: 2px solid transparent; /* Set initial border to transparent */
    position: absolute;
    top: 51%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Right arrow button (default position) */
.gi-arrow-button.right {
    right: -25%;
}

/* Left arrow button */
.gi-arrow-button.left {
    left: -25%;
    rotate: 180deg; /* Rotate the arrow for left button */
}

/* Change icon color on hover */
.gi-arrow-button:hover .gi-arrow-icon {
    fill: #d8d8d8; /* Change fill color on hover */
}

.gi-arrow-button:active .gi-arrow-icon {
    fill: #b8b8b8; /* Change fill color on hover */
}
 
.gi-arrow-icon {
    width: 20px;
    height: 20px;
    fill: rgb(115, 114, 114); /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: rgb(145, 144, 144);
    stroke-width: 0px;
}

