.gs-text-container {
    position: fixed;
    top: 14vh; 
    left: 65vw;
    padding: 0px;
    margin: 0px;
    z-index: 30;
    max-width: 385px;
}

  
/* Style for h1 */
.gs-title {
    font-size: 1.4em; /* Larger size for h1 */
    font-weight: 400;
    color: rgb(255, 255, 255); 
    text-transform: uppercase;
    margin: 0;
}

/* Style for h2 */
.gs-headline {
    font-size: 1.8em; /* Smaller size for h2 */
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 3px;
}
  
/* Style for paragraph */
.gs-text {
    font-size: 1em;
    font-weight: 300;
    margin-top: -25px;
    overflow-y: auto; /* Hide overflow initially */
    padding-right: 15px;
    display: block;
}

.gs-text b{
    font-weight: 500;
}

.gs-gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20; /* Ensure this doesn't interfere with other content */
}

.gs-principles-image {
    width: 225px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    opacity: 100%;
    z-index: 10;
}

.gs-other-components-image {
    width: 225px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    opacity: 0%;
    z-index: 10;
}
  
.gs-image-container {
    position: fixed;
    overflow: hidden; /* To prevent any overflow issues */
    top: 6vh;
    right: 28vw;
    z-index: 10;
    opacity: 40%;
}

.gs-search-container {
    position: fixed;
    bottom: 9vh;
    left: 50vw;
    align-items: center; /* Center them vertically */
}

.gs-search-container.left {
    left: 40vw;
}

/* Container for the menu */
.gs-search-outline {
    position: fixed;
    transform: translate(-50%, -50%);
    border: 2px solid #dedede;
    border-radius: 50px;
    overflow: hidden;
    box-sizing: border-box;
}

/* SEARCH button */
.gs-search-button {
    color: white;
    border: none;
    cursor: pointer;
    height: 37px;
    width: 84px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 11px;
    background-color:  #E5007E;
    border-radius: 50px; /* Rounded on the right side */
    z-index: 10;
    outline: none;
    margin: 2px;
    margin-left: 1.8px;
}

/* When hovering the area below the mode button background */
.gs-search-button:hover {
    background-color: #cc006f; /* Darkened version of the original background color */
}

.gs-search-button:active {
    background-color: #cc006f; /* Darkened version of the original background color */
}

.gs-explanation-text-container {
    position: fixed;
    top: 25vh; 
    left: 73vw; 
    
}

.gs-explanation-headline {
    max-width: 200px;
    font-size: 1.5em; /* Smaller size for h2 */
    font-weight: 600;
    transform: translateY(-50%);
    color: rgb(0, 0, 0); 
}

.gs-explanation-text {
    max-width: 200px;
    font-size: 1.1em;
    line-height: 1.3;
    font-weight: 400;
    margin-top: -40px;
    color: rgb(151, 151, 150); 
    overflow-y: hidden; /* Hide overflow initially */
}

.gs-explanation-instruction {
    max-width: 280px;
    font-weight: 600;
    font-size: 1em;
    color: #E5007E;
    text-transform: uppercase;
}





