.gs-text-container {
    position: fixed;
    top: 10.6vh; 
    left: 64.5vw;
    padding: 0px;
    margin: 0px;
    z-index: 30;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;   /* Center items horizontally */
}
  
.gs-white-line{
    height: 1px;
    width: 260px;
    background-color: white;
    z-index: 40;
}

/* Style for h1 */
.gs-title {
    font-size: 1.4em; /* Larger size for h1 */
    font-weight: 300;
    color: rgb(255, 255, 255); 
    text-transform: uppercase;
    margin-top: 7px;
    text-align: left; /* Align text within itself */
    align-self: flex-start; /* Override center alignment */
}

/* Style for h2 */
.gs-headline {
    font-size: 1.8em; /* Smaller size for h2 */
    font-weight: 500;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    margin-top: -5px;
}

.gs-show-more-button {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    font-weight: 100;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
    text-decoration: underline;
    text-decoration-thickness: 1px; /* Adjust thickness */
    text-underline-offset: 4px; /* Optional: Adds spacing between text and underline */
    z-index: 20; /* Adjust the z-index */
    margin-left: -5px;
    text-align: left; /* Align text within itself */
    align-self: flex-start; /* Override center alignment */
}

.gs-show-more-button:hover {
    color: rgb(134, 134, 134);
}

.gs-show-more-text {
    font-size: 1em;
    font-weight: 300;
    margin-top: 5px;
    text-align: left; /* Align text within itself */
    align-self: flex-start; /* Override center alignment */
}

.gs-text b{
    font-weight: 500;
}

.gs-gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20; /* Ensure this doesn't interfere with other content */
}

.gs-search-container {
    position: fixed;
    bottom: 4vh;
    left: 50vw;
    display: flex;
    align-items: center; /* Center them vertically */
}

.gs-search-container.left {
    left: 40vw;
}

/* Container for the menu */
.gs-search-outline {
    position: fixed;
    transform: translate(-50%, -50%);
    border: 2px solid #dedede;
    border-radius: 50px;
    overflow: hidden;
    box-sizing: border-box;
}

/* SEARCH button */
.gs-search-button {
    color: white;
    border: none;
    cursor: pointer;
    height: 37px;
    width: 84px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 11px;
    background-color:  #E5007E;
    border-radius: 50px; /* Rounded on the right side */
    z-index: 10;
    outline: none;
    margin: 2px;
    margin-left: 1.8px;
}

/* When hovering the area below the mode button background */
.gs-search-button:hover {
    background-color: #cc006f; /* Darkened version of the original background color */
}

.gs-search-button:active {
    background-color: #cc006f; /* Darkened version of the original background color */
}

.gs-explanation-text-container {
    position: fixed;
    top: 25vh; 
    left: 73vw; 
    
}

.gs-explanation-headline {
    max-width: 200px;
    font-size: 1.5em; /* Smaller size for h2 */
    font-weight: 600;
    transform: translateY(-50%);
    color: rgb(0, 0, 0); 
}

.gs-explanation-text {
    max-width: 200px;
    font-size: 1.1em;
    line-height: 1.3;
    font-weight: 400;
    margin-top: -40px;
    color: rgb(151, 151, 150); 
    overflow-y: hidden; /* Hide overflow initially */
}

.gs-explanation-instruction {
    max-width: 280px;
    font-weight: 600;
    font-size: 1em;
    color: #E5007E;
    text-transform: uppercase;
}

/* General button styles (applies to both left and right buttons) */
.gs-arrow-button {
    background-color: transparent;
    border: 2px solid transparent; /* Set initial border to transparent */
    cursor: pointer;
    position: fixed;
    transform: translate(-50%);
    position: fixed;
    bottom: 4vh;
    display: flex;
    align-items: center; 
    outline: none; /* Removes the focus outline */
}

/* Right arrow button (default position) */
.gs-arrow-button.down {
    rotate: 90deg; /* Rotate the arrow for left button */
}

/* Change icon color on hover */
.gs-arrow-button:hover .gi-arrow-icon {
    fill: #cc006f; /* Change fill color on hover */
}

.gs-arrow-button:active .gi-arrow-icon {
    fill: #cc006f; /* Change fill color on hover */
}

.gs-arrow-icon {
    width: 17px;
    height: 17px;
    fill: #e6007e; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: #e6007e;
    stroke-width: 0px;
}



