.gs-text-container {
    position: fixed;
    top: 14vh; 
    left: 66.5vw;
    padding: 0px;
    margin: 0px;
    z-index: 30;
    max-width: 385px;
}

  
/* Style for h1 */
.gs-title {
    font-size: 1.4em; /* Larger size for h1 */
    font-weight: 300;
    color: rgb(255, 255, 255); 
    text-transform: uppercase;
    margin: 0;
}

/* Style for h2 */
.gs-headline {
    font-size: 1.8em; /* Smaller size for h2 */
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 3px;
}
  
/* Style for paragraph */
.gs-text {
    font-size: 1em;
    font-weight: 300;
    margin-top: -25px;
    overflow-y: auto; /* Hide overflow initially */
    padding-right: 15px;
    display: block;
}

.gs-text b{
    font-weight: 500;
}

.gs-gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20; /* Ensure this doesn't interfere with other content */
}

.gs-principles-image {
    width: 225px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    opacity: 100%;
    z-index: 10;
}

.gs-other-components-image {
    width: 225px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    opacity: 0%;
    z-index: 10;
}
  
.gs-image-container {
    position: fixed;
    overflow: hidden; /* To prevent any overflow issues */
    top: 8vh;
    right: 32.5vw;
    z-index: 10;
    opacity: 40%;
}

.gs-bookmark-container {
    position: fixed;
    top: 9vh;
    right: 9vw;
    display: flex; /* Align items in a row */
    align-items: center; /* Center them vertically */
    z-index: 30;
    transform: translateY(-50%);
}

.gs-white-line {
    width: 342px;
    height: 1.5px;
    background-color: white;
}
  
.gs-bookmark-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 10px; /* Add space between the line and the button */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
  
.gs-bookmark-button:hover {
    border-color: #fff; /* Change border color on hover */
    background-color:  rgba(255, 255, 255, 0.2);
}
  
.gs-bookmark-button:active {
    border-color: #d8d8d8; /* Lighter border on click */
    background-color:  rgba(199, 181, 181, 0.2);
}

.gs-bookmark-button.active {
    background-color: #e6007e; /* Active state background color */
    color: white; /* Active state text color */
}
  
.gs-bookmark-icon {
    width: 15px;
    height: 15px;
    fill: none; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: white;
    stroke-width: 2px;
}

.gs-search-container {
    position: fixed;
    bottom: 9vh;
    left: 50vw;
    display: flex;
    align-items: center; /* Center them vertically */
}

.gs-search-container.left {
    left: 37vw;
}

/* Container for the menu */
.gs-search-outline {
    position: fixed;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    border: 2px solid #dedede;
    border-radius: 50px;
    padding: 2px;
    overflow: hidden;
}

/* SEARCH button */
.gs-search-button {
    color: white;
    border: none;
    cursor: pointer;
    height: 28px;
    width: 80px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 11px;
    background-color: #8734d6;
    border-radius: 50px; /* Rounded on the right side */
    z-index: 10;
    outline: none;
}




