.i-title-container {
    position: absolute;
    top: 50%; /* Position item 50% from the top */
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 250px;
    text-align: center; /* Center the text inside the element */
    color: rgb(0,40,112);    
}

.i-explanation-container {
    position: absolute;
    top: 50%; /* Position item 50% from the top */
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 250px;
    text-align: center; /* Center the text inside the element */
    color: rgb(0,40,112);    
}

.i-welcome {
    font-size: 1.45em;
    font-weight: 400;
}

.i-title {
    margin-top: -25px;
    font-size: 2.8em;
    font-weight: 600;
    line-height: 1;
}

.i-explanation {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 130%;
}

.i-text-container {
    position: absolute;
    top: 27%;
    left: 70%;
    max-width: 230px;
    color: black;
    font-size: 1.2em;
    font-weight: 300;
}

.i-text {
    margin: 0;
    padding: 0;
}

.i-text.colored {
    font-weight: 500;
    white-space: nowrap;
}









