.l-text-container {
    position: absolute;
    top: 15%; /* Position item 50% from the top */
    left: 60%; /* Position item 50% from the left */
    max-width: 360px;
    padding: 0px;
    margin: 0px;
    z-index: 30;
}

.l-bookmark-container {
    position: absolute;
    top: 11%;
    left: 60%;
    display: flex; /* Align items in a row */
    align-items: center; /* Center them vertically */
    z-index: 30;
}

.l-white-line {
    width: 330px;
    height: 0.5px;
    background-color: white;
}
  
.l-bookmark-button {
    background-color: transparent;
    border:2px solid white;
    border-radius: 50%;
    padding: 7px;
    margin-left: 10px; /* Add space between the line and the button */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.l-bookmark-button:hover {
    border-color: #fff; /* Change border color on hover */
    background-color:  rgba(255, 255, 255, 0.2);
}
  
.l-bookmark-button:active {
    border-color: #d8d8d8; /* Lighter border on click */
    background-color:  rgba(199, 181, 181, 0.2);
}

.l-bookmark-button.active {
    background-color: #da398f; /* Active state background color */
    color: white; /* Active state text color */
}
  
.l-bookmark-icon {
    width: 24px;
    height: 24px;
    fill: white; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: white;
    stroke-width: 1px;
}
  
/* Style for h1 */
.l-title {
    font-size: 1.4em; /* Larger size for h1 */
    font-weight: 300;
    color: rgb(255, 255, 255); 
    text-transform: uppercase;
    margin: 0;
}

/* Style for h2 */
.l-headline {
    font-size: 1.8em; /* Smaller size for h2 */
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 3px;
}
  
/* Style for paragraph */
.l-text {
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(0, 0, 0); 
    padding-left: 20px;
    margin-top: -25px;
    overflow-y: hidden; /* Hide overflow initially */
    display: block;
}

/* Expanded state for text content */
.l-text.expanded {
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 280px; /* Show full content when expanded */
    margin-top: -15px;
    padding-right: 15px;
}

.scroller{
    overflow:auto;
    display: block;
}
    
.scroller::-webkit-scrollbar{
    width:2px;
    background-color:transparent;
}
        
.scroller::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 10px;
}
  
.l-design-prompt {
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(255, 255, 255); 
    padding-left: 20px;
    padding-top: -25px;
}

.l-show-more-button {
    position: relative;
    padding-top: 17px;
    font-family: 'Manrope', sans-serif;
    font-size: 1.05em;
    font-weight: 200;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: rgb(85, 85, 85);
    border: none;
    cursor: pointer;
    padding-left: 20px;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
    z-index: 20; /* Adjust the z-index */
}

.l-show-more-button:hover {
    color: rgb(117, 117, 117);
}
  
.l-gradient-background {
    position: relative;
    z-index: 20; /* Ensure this doesn't interfere with other content */
}

.l-principles-image {
    width: 210px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    opacity: 100%;
    z-index: 10;
}

.l-other-components-image {
    width: 210px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    opacity: 0%;
    z-index: 10;
}
  
.l-image-container {
    position: absolute;
    overflow: hidden; /* To prevent any overflow issues */
    left: 54%;
    top: 9%;
    z-index: 10;
}