.l-text-container {
    position: absolute;
    top: 16%; /* Position item 50% from the top */
    left: 60%; /* Position item 50% from the left */
    max-width: 310px;

    /* Firefox Scrollbar */
    scrollbar-width: thin; /* Minimalist thin scrollbar */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.05); /* Transparent thumb and track */
}

.l-text-container:hover {
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.05); /* Darker thumb on hover */
}

/* For Chrome, Edge, and Safari */
.l-text-container::-webkit-scrollbar {
    width: 5px; /* Very narrow scrollbar */
}

.l-text-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05); /* Very light transparent track */
    border-radius: 10px; /* Rounded track */
}

.l-text-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* More transparent thumb */
    border-radius: 10px; /* Fully rounded edges */
}

.l-text-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly darker on hover */
}

/* Hide the scrollbar arrows in Chrome, Edge, and Safari */
.l-text-container::-webkit-scrollbar-button {
    display: none; /* This removes the top and bottom arrows */
}

/* Style for h1 */
.l-title {
    font-size: 1.5em; /* Larger size for h1 */
    font-weight: 300;
    color: rgb(255, 255, 255); 
    text-transform: uppercase;
    margin: 0;
}

/* Style for h2 */
.l-headline {
    font-size: 1.8em; /* Smaller size for h2 */
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 3px;
}
  
/* Style for paragraph */
.l-text {
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(0, 0, 0); 
    padding-left: 20px;
    margin-top: -30px;
    margin-bottom: -5px;
    overflow-y: hidden; /* Hide overflow initially */
}

/* Expanded state for text content */
.l-text.expanded {
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 300px; /* Show full content when expanded */
    margin-top: -30px;
    margin-bottom: 5px;
}

.l-show-more-button {
    font-family: 'Manrope', sans-serif;
    font-size: 1.05em;
    font-weight: 200;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: rgb(131, 131, 131);
    border: none;
    cursor: pointer;
    padding-left: 20px;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}

.l-show-more-button:hover {
    color: rgb(203, 202, 202);
}
  
.l-gradient-background {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
