:root {
    --selection-color: #e5007e; /* Default color */
    --text-color: #ffffff; /* Default color */
}

.l-text-container {
    position: fixed;
    top: 14vh; 
    left: 65vw;
    padding: 0px;
    margin: 0px;
    color: var(--text-color); 
    z-index: 30;
}
  
/* Style for h1 */
.l-title {
    font-size: 1.4em; /* Larger size for h1 */
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

/* Style for h2 */
.l-headline {
    font-size: 1.8em; /* Smaller size for h2 */
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 3px;
}
  
/* Style for paragraph */
.l-text {
    font-size: 1em;
    font-weight: 300;
    margin-top: -25px;
    overflow-y: auto; /* Hide overflow initially */
    display: block;
}

.l-text b{
    font-weight: 500;
}

.l-text button {
    border: none;
    background: none;
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}

.l-scroller {
    overflow:auto;
    display: block;
}
    
.l-scroller::-webkit-scrollbar {
    width:2px;
    background-color:transparent;
}
        
.l-scroller::-webkit-scrollbar-thumb {
    background: var(--text-color); /* Use the CSS variable here */
    border-radius: 10px;
}
  
.l-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20; /* Ensure this doesn't interfere with other content */
}

.l-background.gradient {
    background: linear-gradient(to right, transparent 25%, var(--wave-color) 100%);
}

.l-principles-image {
    width: 225px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    opacity: 100%;
    z-index: 10;
}

.l-other-components-image {
    width: 225px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    opacity: 0%;
    z-index: 10;
}
  
.l-image-container {
    position: fixed;
    overflow: hidden; /* To prevent any overflow issues */
    top: 6vh;
    right: 28vw;
    z-index: 10;
    opacity: 40%;
}

/* Style for h1 */
.l-title-concepts {
    font-size: 1em; /* Larger size for h1 */
    font-weight: 600;
    margin: 0;
}

.l-concepts-container {
    display: flex;
    padding-top: 10px;
}

/* Style for paragraph */
.l-text-concepts {
    font-size: 0.9em;
    font-weight: 300;
    display: block;
    max-height: 90px; /* Set a max height for scrolling */
    overflow-y: auto;
}

/* Expanded state for text content */
.l-text-concepts.expanded {
    overflow-y: auto; /* Enable vertical scroll */
    height: 100vh;
    max-height: 90px; /* Show full content when expanded */
    margin-top: 0px;
    padding-right: 15px;
}

/* General button styles (applies to both left and right buttons) */
.l-arrow-button {
    background-color: transparent;
    border: 0px solid transparent; /* Set initial border to transparent */
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Left arrow button */
.l-arrow-button.left {
    rotate: 180deg; /* Rotate the arrow for left button */
}

/* Change icon color on hover */
.l-arrow-button:hover .l-arrow-icon {
    fill: #d8d8d8; /* Change fill color on hover */
}

.l-arrow-button:active .l-arrow-icon {
    fill: #b8b8b8; /* Change fill color on hover */
}
 
.l-arrow-icon {
    width: 11px;
    height: 11px;
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: rgb(0, 0, 0);
    stroke-width: 0px;
    fill: var(--text-color);
}

.l-bookmark-container {
    position: fixed;
    top: 9vh;
    left: 64.5vw;
    display: flex; /* Align items in a row */
    align-items: center; /* Center them vertically */
    z-index: 30;
    transform: translateY(-50%);
}

.l-white-line {
    width: 342px;
    height: 1.5px;
    background-color: var(--text-color);
}
  
.l-bookmark-button {
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    margin-left: 10px; /* Add space between the line and the button */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px; /* Set an explicit width */
    height: 29px; /* Set an explicit height */
    padding: 0; /* Remove padding to match the exact size */
    box-sizing: border-box; /* Includes padding and border in total size */
}
  
.l-bookmark-button:hover {
    border-color: var(--text-color); /* Change border color on hover */
    background-color:  rgba(255, 255, 255, 0.2);
}
  
.l-bookmark-button:active {
    border-color: var(--text-color); /* Change border color on hover */
    background-color:  rgba(199, 181, 181, 0.2);
}

.l-bookmark-button.active {
    background-color: var(--selection-color); /* Active state background color */
}
  
.l-bookmark-icon {
    width: 15px;
    height: 15px;
    fill: none; /* Set default color for the bookmark */
    transition: fill 0.2s ease, stroke 0.2s ease;
    stroke: var(--text-color);
    stroke-width: 2px;
}




