/* OLDiagram.css */
.diagram {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.diagram.left {
    position: absolute;
    top: 45%; /* Adjust this value as needed */
    left: 35%; /* Distance from the left edge of the viewport */
}
  
.diagram.active {
    display: block; /* Show when active */
}

/* Define the default style for the custom button */
.wave-button {
    cursor: pointer;           /* Change cursor to pointer on hover */
}

/* Change cursor and opacity on hover */
.wave-button:hover {
    background-color: #f0f0f0;             /* Change opacity on hover */
}

.wave-button:active {
    background-color: #e0e0e0;
}
  