/* OLDiagram.css */
.diagram {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .diagram.left {
    position: absolute;
    top: 45%; /* Adjust this value as needed */
    left: 35%; /* Distance from the left edge of the viewport */
  }
  
  .diagram.active {
    display: block; /* Show when active */
  }
  