body {
    height: 100%;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

/* Style for text-container */
.text-container {
    position: absolute;
    top: 16%; /* Position item 50% from the top */
    left: 57%; /* Position item 50% from the left */
    max-width: 360px;
}
  
/* Style for h1 */
.title-explanation {
    font-size: 1.4em; /* Larger size for h1 */
    font-weight: 300;
    color: rgb(219,219,219);
    text-transform: uppercase;
    margin: 0;
}

/* Style for h1 */
.title-learn {
    font-size: 1.5em; /* Larger size for h1 */
    font-weight: 300;
    color: rgb(255, 255, 255); 
    text-transform: uppercase;
    margin: 0;
}

/* Style for h2 */
.headline-explanation {
    font-size: 1.4em; /* Smaller size for h2 */
    font-weight: 500;
    color: rgb(0, 0, 0); 
    margin-top: 3px;
}

/* Style for h2 */
.headline-learn {
    font-size: 1.8em; /* Smaller size for h2 */
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 3px;
}

/* Style for h3 */
.instruction {
    font-size: 1.05em; /* Smaller size for h2 */
    font-weight: 500;
    color: rgb(255, 72, 172);
    margin-top: 10px;
    max-width: 250px;
}

/* Style for paragraph */
.text-explanation {
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(211, 211, 210); 
    padding-left: 20px;
    margin-top: -10px;
    overflow-y: hidden; /* Hide overflow initially */
}
  
/* Style for paragraph */
.text-learn {
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(0, 0, 0); 
    padding-left: 20px;
    margin-top: -30px;
    margin-bottom: -5px;
    overflow-y: hidden; /* Hide overflow initially */
}

 /* Expanded state for text content */
 .text-learn.expanded {
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 300px; /* Show full content when expanded */
    margin-top: -30px;
    margin-bottom: 5px;
}

.show-more-button {
    font-size: 1.05em;
    font-weight: 200;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: rgb(131, 131, 131);
    border: none;
    cursor: pointer;
    padding-left: 20px;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}

.show-more-button:hover {
    color: rgb(203, 202, 202);
}
  
/* Style for text-container */
.card-text-container {
    position: absolute;
    top: 14%; /* Position item 50% from the top */
    left: 60%; /* Position item 50% from the left */
    max-width: 280px;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center;   /* Center items horizontally */
}

.card-container {
    width: 280px;
    height: 280px;
    padding: 15px;
    padding-left: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #9494ad 30%, #aeaec1 60%, #f5f4f4 95%);
    overflow: hidden;
}

.title-get-inspired {
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 0px;
    color: white;
}

.description-get-inspired {
    font-size: 1em;
    font-weight: 400;
    margin-top: 25px;
    color: white;
  }
  
.credits-get-inspired {
    font-size: 0.9em;
    font-weight: 200;
    position: absolute;  /* Absolute positioning within the container */
    bottom: 50px;        
    color: white;
}

.results-get-inspired {
    margin-bottom: 30px;
    font-weight: 200;
}

.bold-text {
    font-weight: 500;
}

.show-more-button.get-inspired {
    font-weight: 200;
    color: white;
    position: absolute;
    padding-left: 0;
    bottom: 25px;        
}

.initial-container {
    position: absolute;
    top: 50%; /* Position item 50% from the top */
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 300px;
    text-align: center; /* Center the text inside the element */
    color: rgb(0,40,112);    
}

.title-initial {
    font-size: 2.8em;
    font-weight: 500;
    line-height: 110%;
}

.title-deter-initial {
    position: absolute;
    top: 39%; /* Position item 50% from the top */
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(0,40,112);    
}

