body {
    height: 100%;
    margin: 0;
}


/* Style for text-container */
.text-container {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 45%; /* Position item 50% from the top */
    right: 10%; /* Position item 50% from the left */
    transform: translate(-50%, -50%); /* Center the item */
    max-width: 300px;
    padding: 20px;
}
  
/* Style for h1 */
.text-container h1 {
    font-size: 1.5em; /* Larger size for h1 */
    font-weight: 100;
    color: black; /* White color */
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Style for h2 */
.text-container h2 {
    font-size: 1.2em; /* Smaller size for h2 */
    font-weight: 40;
    color: black; /* Green color */
    margin-bottom: 10px;
}
  
/* Style for h3 */
.text-container h3 {
    font-size: 1.2em; /* Smaller size for h2 */
    font-weight: bold;
    color: #eb3799;
    margin-bottom: 10px;
}

/* Style for paragraph */
.text-container .text-content {
    font-size: 1em;
    line-height: 1.6;
    color: black; /* Medium gray text color */
    padding-left: 30px;
    overflow-y: hidden; /* Hide overflow initially */
  }
  
  /* Expanded state for text content */
  .text-container .text-content.expanded {
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 365px; /* Show full content when expanded */
  }

  .show-more-button {
    padding-left: 30px;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: rgb(78, 75, 75);
    border: none;
    cursor: pointer;
    font-size: 1em;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}

.show-more-button:hover {
    color: #32e1b8;
}
