body {
    height: 100%;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

/* ----------------------- DEFAULT CONTAINER ----------------------- */

/* Style for text-container */
.text-container {
    position: absolute;
    top: 16%; /* Position item 50% from the top */
    left: 60%; /* Position item 50% from the left */
    max-width: 360px;
}
  
/* ----------------------- EXPLANATION TEXT ----------------------- */
/* Style for h1 */
.title-explanation {
    font-size: 1.4em; /* Larger size for h1 */
    font-weight: 300;
    color: rgb(219,219,219);
    text-transform: uppercase;
    margin: 0;
}

/* Style for h2 */
.headline-explanation {
    font-size: 1.4em; /* Smaller size for h2 */
    font-weight: 500;
    color: rgb(0, 0, 0); 
    margin-top: 3px;
}

/* Style for h3 */
.instruction {
    font-size: 1.05em; /* Smaller size for h2 */
    font-weight: 500;
    color: rgb(255, 72, 172);
    margin-top: 10px;
    max-width: 250px;
}

/* Style for paragraph */
.text-explanation {
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(211, 211, 210); 
    padding-left: 20px;
    margin-top: -10px;
    overflow-y: hidden; /* Hide overflow initially */
}

/* ----------------------- LEARN ----------------------- */

/* Style for h1 */
.title-learn {
    font-size: 1.5em; /* Larger size for h1 */
    font-weight: 300;
    color: rgb(255, 255, 255); 
    text-transform: uppercase;
    margin: 0;
}

/* Style for h2 */
.headline-learn {
    font-size: 1.8em; /* Smaller size for h2 */
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 3px;
}
  
/* Style for paragraph */
.text-learn {
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(0, 0, 0); 
    padding-left: 20px;
    margin-top: -30px;
    margin-bottom: -5px;
    overflow-y: hidden; /* Hide overflow initially */
}

/* Expanded state for text content */
.text-learn.expanded {
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 300px; /* Show full content when expanded */
    margin-top: -30px;
    margin-bottom: 5px;
}

.show-more-button {
    font-family: 'Manrope', sans-serif;
    font-size: 1.05em;
    font-weight: 200;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: rgb(131, 131, 131);
    border: none;
    cursor: pointer;
    padding-left: 20px;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}

.show-more-button:hover {
    color: rgb(203, 202, 202);
}
  
/* ----------------------- GET INSPIRED ----------------------- */
/* Style for text-container */
.card-text-container {
    position: absolute;
    top: 14%; /* Position item 50% from the top */
    left: 60%; /* Position item 50% from the left */
    max-width: 280px;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center;   /* Center items horizontally */
}

.card-container {
    width: 280px;
    height: 280px;
    padding: 15px;
    padding-left: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #9494ad 30%, #aeaec1 60%, #f5f4f4 95%);
    overflow: hidden;
}

.title-get-inspired {
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 0px;
    color: white;
}

.description-get-inspired {
    font-size: 1em;
    font-weight: 400;
    margin-top: 25px;
    color: white;
  }
  
.credits-get-inspired {
    font-size: 0.9em;
    font-weight: 200;
    position: absolute;  /* Absolute positioning within the container */
    bottom: 50px;        
    color: white;
}

.results-get-inspired {
    margin-bottom: 30px;
    font-weight: 200;
}

.bold-text {
    font-weight: 500;
}

.show-more-button.get-inspired {
    font-weight: 200;
    color: white;
    position: absolute;
    padding-left: 0;
    bottom: 25px;        
}

/* ----------------------- ANALYZE ----------------------- */
.start-analysis-button {
    font-family: 'Manrope', sans-serif;
    font-size: 1.05em; /* Smaller size for h2 */
    font-weight: 500;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: rgb(255, 72, 172);
    border: none;
    cursor: pointer;
    margin-top: 5px;
    max-width: 250px;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}

.start-analysis-button:hover {
    color: rgb(203, 202, 202);
}

.input-container {
    position: absolute;
    top: 13%; /* Position item 50% from the top */
    left: 60%; /* Position item 50% from the left */
    width: 350px;
    text-align: center;
  }

.title input,
.description textarea,
.insert-sources input {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(210, 210, 210);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff; /* Set placeholder color to white */
}

  
.font-placeholder::placeholder {
    opacity: 1; /* Remove transparency */
}

.title input {
    font-size: 1.4em;
}

.description textarea {
    font-size: 1.2em;
    height: 150px;
    resize: none;
}

.insert-sources input {
    font-size: 1.2em;
}
  
.upload-picture-button {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2em;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(210, 210, 210);
    color: white;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    text-decoration: underline;
}

.upload-picture-button:hover {
    background-color: rgb(236, 234, 234);
}

.preview-button {
    font-family: 'Manrope', sans-serif;
    font-size: 1.05em;
    font-weight: 200;
    background-color: transparent; /* Use 'transparent' instead of 'none' */
    color: rgb(131, 131, 131);
    border: none;
    cursor: pointer;
    outline: none; /* Optional: Remove outline on focus */
    text-decoration: underline;
}

.preview-button:hover {
    color: rgb(203, 202, 202);
}
    
.select-text {
    padding-left: 15px;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: -15px;
    color: #5c5c5b;
    text-align: left;
}

.instruction-container {
    padding-left: 15px;
    margin-bottom: 20px;
    color: #80807f;
    text-align: left;
}

.instruction-text {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: -15px;
}

.questions-container {
    padding-left: 15px;
    margin-bottom: 25px;
    color: #acabab;
    text-align: left;
}

.question-text {
    font-size: 0.9em;
    font-weight: 200;
    margin-bottom: -15px;
}

/* ----------------------- INITIAL PAGE ----------------------- */
.initial-title-container {
    position: absolute;
    top: 50%; /* Position item 50% from the top */
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 220px;
    text-align: center; /* Center the text inside the element */
    color: rgb(0,40,112);    
}

.title-initial {
    font-size: 2.8em;
    font-weight: 500;
    line-height: 110%;
}

.title-deter-initial {
    position: absolute;
    top: 39%; /* Position item 50% from the top */
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(0,40,112);    
}

.explanation-initial {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 130%;
}

.initial-text-container {
    position: absolute;
    top: 27%;
    left: 70%;
    max-width: 190px;
    color: black;
    font-size: 1.2em;
    font-weight: 300;
}

.text-initial {
    margin: 0;
    padding: 0;
}








